---
title: "Awards"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>IEEE CIC 2025</title>
    {% include head.html %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css?v={{ site.css_version }}">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->


        <div class="bg-color-light">

            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
            </div>
            <div class="breadcrumbs">
                <div class="container">
                    <h1 class="pull-left">Awards</h1>
                    <ul class="pull-right breadcrumb">
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li><a href="">Program</a></li>
                        <li class="active">Awards</li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <!-- Contents goes here -->
                    <div class="col-md-8"><!-- outter container  -->
                        <h3><strong>Best Paper for IEEE CogMI 2025:</strong></h3>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-left">
                                    A. S. Li, E. Bertino (<i>Purdue University</i>), 
                                    X. Dang (<i>IBM T.J. Watson Research Center</i>), A. Singla (<i>Purdue University</i>), 
                                    Y. Tu, M. N. N Wegman (<i>IBM T.J. Watson Research Center</i>),
                                    "<strong>Maximizing Information in Domain-Invariant Representation Improves Transfer Learning</strong>," in
                                    <i>IEEE CIC</i>, 2025.
                                </p>
                            </div>
                        </div>
                        <h3><strong>Best Student Paper for IEEE CogMI 2025:</strong></h3>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-left">
                                    I. Miller, C. Cai, M. Cutkosky, D. Lin (<i>Vanderbilt University</i>),
                                    "<strong>Shielding Against Deception: Fortifying Deepfake Detectors Against Data Poisoning Attacks</strong>," in
                                    <i>IEEE CIC</i>, 2025.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- right panel begins -->
                    <div>
                        {% include sidebar1.html %}
                    </div>
                </div>
            </div>
            <!-- end  -->
        </div>
        <!--=== Footer ===-->
        {% include footer.html %}
        <!--=== End Footer ===-->

        <!--=== Scripts ===-->
        {% include scripts.html %}
        <!--=== End scripts ===-->
    </div>
</body>

</html>