<!-- right panel begins -->
<div class="col-md-4" style="margin: auto;"><!-- right panel  -->
    <!-- ===== social media icons START -->
    <div class="tile">
        <a class="btn-u btn-u-dark-blue btn-u-xs" href="https://www.facebook.com/groups/516188955209479/"
            alt="risc2026 facebook profile" target="_blank" style="margin-left: 0%;"><i class="fa fa-facebook"></i>
            Follow us on Facebook.</a>
    </div>
    <hr>

    <!-- sponsors  -->
    <div class="links">
        <h4>Financial Sponsors</h4>
        <ul>
            <li>
                <img class="img-responsive" src="../assets/img/logos/ieee.gif" style="width: 100%; margin-top: 10%;">
            </li>
            <hr>
            <li>
                <img class="img-responsive" src="../assets/img/logos/ieee_cs.png" style="width: 100%; margin-top: 10%;">
            </li>
            <br>
        </ul>
        <!-- <hr>
        <h4> Gold Corporate Sponsors</h4>
        <ul>
            <li>
                <a href="https://www.tdk.com/" target="_blank">
                    <img class="img-responsive" src="../assets/img/logos/TDK.png"
                    style="width: 100%; margin-top: 10%;">
                </a>
            </li>
            <hr>
            <li>
                <a href="https://www.pqi.org/" target="_blank">
                    <img class="img-responsive" src="../assets/img/logos/pgi.png"
                    style="width: 100%; margin-top: 10%;">
                </a>
            </li>
            <hr>
            <li>
                <a href="https://www.sci.pitt.edu/" target="_blank">
                    <img class="img-responsive" src="../assets/img/logos/pitt_sci_logo.png"
                        style="width: 100%; margin-top: 10%;">
                </a>
            </li>
        </ul> -->
    </div>
    <!-- sponsor ends -->

    <!-- <div class="tile"> -->
    <div class="links">

        <h4>Co-located Workshops</h4>
        <ul>
            <li>
                <a href="https://digitaldiversityla.wixsite.com/eic2026" target="_blank">
                    &#128206; Equitable & Inclusive Computing Workshop 2026 (EIC WORKSHOP 2026)
                </a>
            </li>
            <li>
                More workshops to be announced.
            </li>
            <!-- <li>
                <a href="https://www.engineering.pitt.edu/ieee-srcist2025" target="_blank">
                    &#128206; IEEE Workshop on Security and Resiliency of Critical Infrastructure and Space Technologies (IEEE SR-CIST 2025)
                </a>
            </li>

            <li>
                <a href="https://sites.google.com/pitt.edu/tphac/home" target="_blank">
                    &#128206; IEEE Workshop on Trustworthy and Privacy-Preserving Human-AI Collaboration (IEEE TPHAC 2025)
                </a>
            </li>
            <li>
                <a href="https://ieeedistill.github.io/" target="_blank">
                    &#128206; IEEE Workshop on Distributed, Secure, and Trustworthy Intelligence with LLMs (IEEE DISTILL 2025)
                </a>
            </li>
            <li>
                <a href="https://sites.google.com/view/quills2025/home" target="_blank">
                    &#128206; The Second IEEE Workshop on Quantum Intelligence, Learning and Security (QuILLS 2025)
                </a>
            </li>
            <li>
                <a href="https://airet-workshop.github.io/" target="_blank">
                    &#128206; The First International Workshop on Agentic Intelligence: Risks, Ethics, and Trust. (AIRET 2025)
                </a>
            </li>
            <li>
                <a href="https://sis.pitt.edu/lersais/conference/workshops/SPiRiT/" target="_blank">
                    &#128206; The 1<sup>st</sup> IEEE Workshop on Healthcare and Medical Device
                    Security, Privacy, Resilience, and Trust. (IEEE HMD-SPiRiT 2025)
                </a>
            </li> -->
        </ul>
        <br>
    </div>

    <div class="links">
        <h4>Co-located Conferences</h4>
        <ul>
            <li>
                <a href="http://www.sis.pitt.edu/lersais/conference/cic/2026/" target="_blank">

                    &#128206; The 12<sup>th</sup> IEEE International Conference on Collaboration and
                    Internet Computing (IEEE CIC 2026)

                </a>
            </li>
            <li>
                <a href="http://www.sis.pitt.edu/lersais/conference/cogmi/2026/" target="_blank">

                    &#128206; The 8<sup>th</sup> IEEE International Conference on Cognitive Machine
                    Intelligence (IEEE CogMI 2026)
                </a>
            </li>
            <li>
                <a href="http://www.sis.pitt.edu/lersais/conference/tps/2026/" target="_blank">

                    &#128206; The 8<sup>th</sup> IEEE International Conference on Trust, Privacy and
                    Security in Intelligent Systems, and Applications (IEEE TPS 2026)
                </a>
            </li>
            <li>
                <a href="http://www.sis.pitt.edu/lersais/conference/risc/2026/" target="_blank">

                    &#128206; The 1<sup>st</sup> IEEE International Conference on Resilience and
                    Integrated Security for Space and Critical Systems (IEEE RISC 2026) 
                </a>
            </li>
        </ul>
    </div>
</div>
