---
title: "Call for Full Papers pages"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>IEEE CogMI 2025</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->


        <div class="bg-color-light">

            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
            </div>
            <div class="breadcrumbs">
                <div class="container">
                    <h1 class="pull-left">Call For Papers</h1>
                    <ul class="pull-right breadcrumb">
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li><a href="">Submit</a></li>
                        <li class="active">Call For Papers</li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <!-- Contents goes here -->
                    <div class="col-md-8"><!-- outter container  -->
                        <div class="news-v3-in">

                            <h2 class="margin-bottom-5" style="margin-bottom: 0">
                                <strong>IEEE CogMI 2025 Call for Papers</strong>
                            </h2>

                            <h4 class="margin-bottom-5"><strong>Important dates:</strong></h4>

                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 style="color: brown;">Round 1 Submission Dates:</h4>
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-info">Time Zone
                                            <span class="badge">Anywhere on Earth</span>
                                        </li>
                                        <li class="list-group-item list-group-item-warning">Submission Deadline
                                            <span class="badge"><strike>June 21, 2025</strike> <strong>June 30, 2025</strong></span>
                                        </li>
                                        <li class="list-group-item list-group-item-success">Notification of Acceptance
                                            Date
                                            <span class="badge"><strike>July 21, 2025</strike> <strong>July 30, 2025</strong></span>
                                        </li>
                                        <li class="list-group-item list-group-item-danger">Camera Ready Due
                                            <span class="badge">August 15, 2025</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 style="color: brown;">Round 2 Submission Dates:</h4>
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-info">Time Zone
                                            <span class="badge">Anywhere on Earth</span>
                                        </li>
                                        <li class="list-group-item list-group-item-warning">Submission Deadline
                                            <span class="badge"><strong>August 08, 2025</strong></span>
                                        </li>
                                        <li class="list-group-item list-group-item-success">Notification of Acceptance
                                            Date
                                            <span class="badge"><strong>September 08, 2025</strong></span>
                                        </li>
                                        <li class="list-group-item list-group-item-danger">Camera Ready Due
                                            <span class="badge">September 15, 2025</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>


                            <p>
                                Artificial Intelligence (AI) is rapidly transforming our business, social and physical
                                world. Machine Intelligence and computing artifacts
                                infused with AI and cognition are increasingly becoming an integral part of our social
                                and economic activities/processes, as well as cultural
                                and business interactions. The cognitive machine intelligence (CogMI) is creating
                                unprecedented opportunities for impactful scientific
                                innovations and societal transformations by significantly augmenting the human ability
                                for problem solving and rapid decision making in terms of speed,
                                precision and variety, while fostering innovations in all our human endeavors from
                                scientific discoveries, solving long standing healthcare problems, '
                                modeling highly interconnected and globally distributed systems, and so forth. As we
                                enter the new social, physical and cyber world empowered by such
                                cognitive machine intelligence, it is important to understand and explore the
                                foundational characteristics of the algorithmic theory and processes
                                behind the cognitive machine intelligence, and now intelligent machines can promote a
                                productive and creative partnership and collaboration between
                                the humans and the machines, so as to ensure an equitable, fair and transparent
                                CogMI-enhanced society and cyber-physical-social worlds around us.
                            </p>
                            <p class="text-justify">
                                The goal of the IEEE Conference on Cognitive Machine Intelligence (IEEE CogMI) is to
                                create a research and development forum on cognitive machine intelligence
                                to foster research results on AI and ML with cognitive science and behavioral science.
                                It promotes productive collaborations among experts from multiple disciplines,
                                such as but not limited to: computer science, electronic and computer engineering,
                                information science, economics, industrial engineering, psychology, social and
                                behavioral sciences, biological and physical sciences, and ethics, law and policy. IEEE
                                CogMI aims to be a premier, highly multidisciplinary forum to foster interaction
                                and exchange of innovative ideas, and collaboration among researchers, practitioners,
                                philosophers from academia, industry and government sectors who are interested in
                                developing innovative AI/ML algorithms, applications and systems by integrating
                                cognitive science and understanding how AI can support humans instead of replacing them,
                                resulting in productive and desirable social-technical systems
                            </p>


                            <hr>
                            <h2 class="margin-bottom-5" style="margin-bottom: 0"><strong>Submission Guidelines</strong>
                            </h2>
                            <p class="margin-top-0">
                            </p>
                            <ul>
                                <li>
                                    <strong>Research Track Paper Submission</strong>
                                    <p>
                                        We invite original research papers that have not been previously published and
                                        are not
                                        currently under review for publication elsewhere.
                                        Papers submitted to <strong>Research</strong> track should be up to 10
                                        pages, anonymously in the standard two column IEEE proceedings format, excluding the
                                        bibliography, well-marked appendices, and supplementary material.
                                        which can be found at
                                        <a href="https://www.ieee.org/conferences_events/conferences/publishing/templates.html"
                                            target="_blank">IEEE Manuscript Templates for Conference Proceedings
                                        </a>. Authors should not change the font or the margins of the IEEE format.
                                        Papers should avoid revealing authors’ identity in the text. When referring to
                                        their previous work, authors are required to cite their papers in the third
                                        person, without identifying themselves.
                                        The papers should be submitted at the research track of the conference in
                                        <a href="https://easychair.org/conferences/?conf=ieeecogmi2025"
                                            target="_blank">EasyChair</a>.
                                    </p>
                                </li>
                                <li>
                                    <strong>Vision Track Paper Submission</strong>
                                    <p>
                                        We invite original research vision papers that have not been previously
                                        published and are not currently under review for publication elsewhere. Vision
                                        contributions should focus on blue-sky ideas and research vision in the area
                                        that at least one of the lead senior authors are known for. Vision paper can be
                                        as short as 2 pages but should be no longer than 10 pages in the standard two
                                        column IEEE proceedings format,
                                        which can be found at
                                        <a href="https://www.ieee.org/conferences_events/conferences/publishing/templates.html"
                                            target="_blank">IEEE Manuscript Templates for Conference Proceedings
                                        </a>.
                                        The papers should be submitted at the vision track of the conference in
                                        <a href="https://easychair.org/conferences/?conf=ieeecogmi2025"
                                            target="_blank">EasyChair</a>.
                                    </p>
                                </li>
                                <li>
                                    <strong>Industry/Government Paper Submission</strong>
                                    <p>
                                        We invite original industry papers that have not been previously published and
                                        are not currently under review for publication elsewhere. At least one co-author
                                        must be affiliated with industry or Government organizations, such as labs in
                                        DoE, DoD, NIH, NSA Labs. Papers submitted to Regular or Industry/Gov track
                                        should be no longer than 10 pages in the standard two column IEEE proceedings
                                        format,
                                        <a href="https://www.ieee.org/conferences_events/conferences/publishing/templates.html"
                                            target="_blank">IEEE Manuscript Templates for Conference Proceedings
                                        </a>.
                                        The papers should be submitted at the industry/gov track of the conference in
                                        <a href="https://easychair.org/conferences/?conf=ieeecogmi2025"
                                            target="_blank">EasyChair</a>.
                                        <!-- Paper submissions need not be anonymized. -->
                                    </p>
                                </li>
                            </ul>
                            <hr>
                            <h2 class="margin-bottom-5"><strong>Workshops Proposals</strong></h2>
                            <p class="text-justify">
                                Proposals for half-day or full day workshops that focus on IEEE CogMI 2024 related
                                themes are solicited.
                                Workshop proposals should be at most 6 pages, including a biographical sketch of each
                                instructor,
                                and submitted to <a href="https://easychair.org/conferences/?conf=ieeecogmi2025"
                                    target="_blank">EasyChair</a>. <!--Potential tutorial
                            presenters should submit a tutorial proposal of at most three pages, including: description
                            of potential audience and background knowledge expected from the audience, if any; tutorial
                            description; biographical sketch(s) of presenter(s).-->
                            </p>
                            <hr>
                            <h2 class="margin-bottom-5"><strong>Panels Proposals</strong></h2>
                            <p class="text-justify">
                                Proposals for panel discussions that focus on future visions relevant to
                                <strong>Cognitive Machine Intelligence</strong> are preferred.
                                Potential panel organizers should submit a panel proposal of at most five pages,
                                including biographical sketches of the proposed
                                panelists to the Panel Chairs.
                            </p>
                            <hr>
                            <h2 class="margin-bottom-5"><strong>Tutorials Proposals</strong></h2>
                            <p class="text-justify">
                                Proposals for full and half-day tutorials are solicited. Tutorials are intended to
                                enhance the technical program, and as such they should be relevant to collaborative
                                computing,
                                networking, internet technologies, worksharing, and applications. Potential tutorial
                                presenters should submit a tutorial proposal of at most three pages, including:
                                description of potential audience and background knowledge expected from the audience,
                                if any; tutorial description; biographical sketch(s) of presenter(s).
                            </p>

                            <hr>
                            <h2 class="margin-bottom-5"><strong>Review Policy</strong></h2>
                            <p class="text-justify">
                                IEEE Policy and professional ethics require that referees treat the contents of papers
                                under
                                review as privileged information not to be disclosed to others before publication. It is
                                expected that no one with access to a paper under review will make any inappropriate use
                                of
                                the special knowledge, which that access provides. Contents of abstracts submitted to
                                conference program committees should be regarded as privileged as well, and handled in
                                the
                                same manner. The Conference Publications Chair shall ensure that referees adhere to this
                                practice.
                            </p>
                            <p class="text-justify">
                                Organizers of IEEE conferences are expected to provide an appropriate forum for the oral
                                presentation and discussion of all accepted papers. An author, in offering a paper for
                                presentation at an IEEE conference, or accepting an invitation to present a paper, is
                                expected to be present at the meeting to deliver the paper. In the event that
                                circumstances
                                unknown at the time of submission of a paper preclude its presentation by an author, the
                                program chair should be informed on time, and appropriate substitute arrangements should
                                be
                                made. In some cases it may help reduce no-shows for the Conference to require advance
                                registration together with the submission of the final manuscript.
                            </p>

                            <hr>
                            <h2 class="margin-bottom-5" style="margin-bottom: 0"><strong>List of Topics</strong></h2>
                            <p class="margin-top-0">Topics of interest include, but are not limited to:</p>
                            <blockquote class="hero margin-bottom-50">
                                <ul>
                                    <li>Large Language models</li>
                                    <li>Social computing</li>
                                    <li>Machine learning with graphs</li>  
                                    <li>Artificial Intelligence – theory and application</li>
                                    <li>Machine learning, neural networks and deep learning</li>
                                    <li>AI and Machine cognition</li>
                                    <li>Human-machine collaboration</li>
                                    <li>Social psychology</li>
                                    <li>Behavioral science</li>
                                    <li>Human-robot interaction</li>
                                    <li>Neuromorphic computing</li>
                                    <li>Probabilistic Computing</li>
                                    <li>Responsible AI: bias, fairness, transparency, accountability, robustness, etc.
                                    </li>
                                    <li>Robotics and autonomous systems, and process automation</li>
                                    <li>Computer vision &amp; image processing/recognition</li>
                                    <li>AI-optimized hardware and software</li>
                                    <li>Natural language processing/generation, text analytics and speech recognition
                                    </li>
                                    <li>Recommendation and reputation systems</li>
                                    <li>Virtual agents, chatbots, and conversational robots</li>
                                    <li>Computational mechanism design, algorithmic game theory and multi-agent systems
                                    </li>
                                    <li>Building and maintaining trust in intelligent machines</li>
                                    <li>Privacy in AI/ML and Deep Learning &amp; Adversarial Machine Learning</li>
                                    <li>Decision support and management</li>
                                    <li>AI in application domains: Business &amp; Finance, Health/Public Health,
                                        Transportation,
                                        Manufacturing, Media/Social media, Science &amp; Engineering, Education,
                                        Social-welfare
                                        and well-being, etc.
                                    </li>
                                    <li>AI in Edge/Fog/Cloud computing, Internet of Things, and Cyber Physical Systems
                                    </li>

                                </ul>
                            </blockquote>
                            <hr>

                            <h2 class="margin-bottom-5"><strong>Blue Sky/Vision Track</strong></h2>
                            <p class="text-justify">
                                We would like to solicit papers that promote <strong>visionary ideas</strong> and
                                <strong>blue
                                    sky thinking</strong> in areas aligned with the conference themes. These papers are
                                expected
                                to spark intense discussions and newer research directions/insights through potentially
                                disruptive, controversial, or highly cross-disciplinary ideas that look forward to
                                collaboration and internet computing space for the next 10 years and beyond. Ideas that
                                are
                                just being conceived, not fully developed, far from experimentally evaluated, or
                                out-of-the
                                box are highly encouraged.
                                The papers should follow the same format as the regular conference papers and can be up
                                to 10 pages.
                            </p>
                            <hr>
                            <h2 class="margin-bottom-5"><strong>Industry Track Papers</strong></h2>
                            <p class="text-justify">
                                We would like to solicit papers that focus on the design, implementation, and deployment
                                of solutions related to CogMI within industrial
                                or government environments. The papers submitted to this track are expected to advance
                                practical and applied research focused on the use
                                of CogMI technologies and systems applications.
                            </p>
                            <p class="text-justify">
                                The Industry/Government Track will include papers selected through a separate program
                                committee. Authors must clearly indicate sub-areas their papers are to be evaluated in
                                because distinct criteria may be used for reviewing different category of submissions:
                            </p>
                            <ul>
                                <li>
                                    <strong>Deployed</strong>
                                    <p class="text-justify">
                                        Deployed systems that aim to provide real practical value to industry,
                                        Government,
                                        or other organizations, or communities. The papers should point out how the
                                        deployed
                                        system explicitly addresses CogMI issues or describe either qualitatively
                                        (lessons learned, deployment experiences, etc.)
                                        or quantitatively how these issues are addressed in systems and applications.
                                    </p>
                                </li>
                                <li>
                                    <strong>Emerging</strong>
                                    <p class="text-justify">
                                        Newer models and mechanisms or innovative solutions related to CogMI. The
                                        authors should clearly demonstrate
                                        value and interest to Industry, Government of society (e.g., scientific or
                                        medical professions; critical infrastructures).
                                        Papers that describe infrastructure development and deployment that enable the
                                        large-scale deployment of related
                                        technologies/applications or their validation are also in these areas.
                                    </p>
                                </li>
                            </ul>
                            <hr>
                            <h2 class="margin-bottom-5"><strong>Awards</strong></h2>
                            <p class="text-justify">
                                IEEE CogMI will feature a <strong>Best Paper</strong> award and a <strong>Best Student
                                    Paper</strong> award (to be selected by the program committee/best paper award
                                team). A
                                paper is eligible for the <strong>Best Student Paper</strong> award if the first author
                                is a
                                full-time student at the time of submission. A partial travel grant or cash award may be
                                offered to the winner student depending on fund availability.
                            </p>
                            <hr>

                            <h3><strong>Program Co-Chairs</strong></h3>
                            <ul>
                                <li>Paolo Boldi, University of Milano, Italy</li>
                            </ul>
                        </div>
                    </div>
                    <!-- right panel begins -->
                    <div>
                        {% include sidebar1.html %}
                    </div>
                </div>
            </div>
        </div>

        <!--=== End Content ===-->


        <!--=== Footer ===-->
        {% include footer.html %}
        <!--=== End Footer ===-->

        <!--=== Scripts ===-->
        {% include scripts.html %}
        <!--=== End scripts ===-->
    </div>
</body>

</html>