<div class="wrapper">
    <!--=== Header===-->
    <div class="header-v2 header-sticky">
        <div class="container container-space"></div>
        <!-- Navbar -->
        {% include navbar.html %}
        <!-- End Navbar -->
    </div>
    <!--=== End Header ===-->

    <!-- Image Gradient -->

    <script type="text/javascript">
        //Get Banner image by random
        var n = Math.floor(Math.random() * 6 + 1);
        document.write('<div class="interactive-slider-v2" style="background-image:url(\'{{ site.baseurl }}/assets/img/main-banners/pitt_banner_' + n + '.jpg\')">');
    </script>
    <div class="container">

        <h1 class="animated fadeInUp">IEEE CIC 2026</h1>

        <p class="animated fadeInRight" id="sub_title">The 12<sup>th</sup> IEEE International Conference on
            Collaboration and Internet Computing
        </p>
        <p class="animated fadeInLeft">Nov. 4-6, 2026, San Jose, CA, USA</p>
        <p class="animated fadeInLeft">
            Co-located with <a style="color: rgb(219, 190, 26);" href="https://www.sis.pitt.edu/lersais/conference/tps/2026/" target="_blank">IEEE TPS 2026</a>,
            <a style="color: rgb(219, 190, 26);" href="https://www.sis.pitt.edu/lersais/conference/cogmi/2026/" target="_blank">IEEE CogMI 2026</a>,
            <a style="color: rgb(219, 190, 26);" href="https://www.sis.pitt.edu/lersais/conference/risc/2026/" target="_blank">IEEE RISC 2026</a>.
        </p>
    </div>
</div>
<!-- End Image Gradient -->