<div class="navbar navbar-default mega-menu" role="navigation">
    <div class="container container-space">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-bars"></span>
            </button>
            <a class="navbar-brand brand-style" href="{{ site.baseurl1 }}/">
                <img id="logo-header" src="{{ site.baseurl1 }}/assets/img/IEEE-CS_LogoTM-black.png" width="200" alt="Logo">
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Calls</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site.baseurl1 }}/call-for-papers">Call for Papers</a></li>
                        <!-- <li><a href="{{ site.baseurl1 }}/blank-page">Call for Papers</a></li> -->
                        <!-- <li><a href="{{ site.baseurl1 }}/camera-ready">Camera-Ready Instructions</a></li> -->
                        <li><a href="{{ site.baseurl1 }}/blank-page">Camera-Ready Instructions</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Program</a>
                    <ul class="dropdown-menu">
                        <!-- <li><a href="{{ site.baseurl1 }}/keynotes">Keynotes</a></li> -->
                        <li><a href="{{ site.baseurl1 }}/blank-page">Keynotes</a></li>
                        <!-- <li><a href="{{ site.baseurl1 }}/panels">Panels</a></li> -->
                        <li><a href="{{ site.baseurl1 }}/blank-page">Panels</a></li>
                        <!-- <li><a href="{{ site.baseurl1 }}/technical-program">Technical Program</a></li> -->
                        <li><a href="{{ site.baseurl1 }}/blank-page">Technical Program</a></li>
                        <!-- <li><a href="{{ site.baseurl1 }}/awards">Awards</a></li> -->
                        <li><a href="{{ site.baseurl1 }}/blank-page">Awards</a></li>
                        <!-- <li><a href="{{ site.baseurl1 }}/accepted-papers">Accepted Papers</a></li> -->
                        <li><a href="{{ site.baseurl1 }}/blank-page">Accepted Papers</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Attend</a>
                        <ul class="dropdown-menu">
                            <!-- <li><a href="{{ site.baseurl1 }}/registration">Registration</a></li> -->
                            <li><a href="{{ site.baseurl1 }}/blank-page">Registration</a></li>
                            <!-- <li><a href="{{ site.baseurl1 }}/travel-grants">Travel Grants</a></li> -->
                            <li><a href="{{ site.baseurl1 }}/blank-page">Travel Grants</a></li>
                            <!-- <li><a href="{{ site.baseurl1 }}/travel">Travel/Hotel</a></li> -->
                            <li><a href="{{ site.baseurl1 }}/blank-page">Travel/Hotel</a></li>
                        </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Committees</a>
                    <ul class="dropdown-menu">                            
                        <li><a href="{{ site.baseurl1 }}/steerings">Steering Committees</a></li>
                        <li><a href="{{ site.baseurl1 }}/organizers">Organizing Committees</a></li>
                        <!-- <li><a href="{{ site.baseurl1 }}/pcs">Program Committees</a></li> -->
                        <li><a href="{{ site.baseurl1 }}/blank-page">Program Committees</a></li>
                    </ul> 
                </li>
                
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Past Conference</a>
                    <ul class="dropdown-menu">
                        {% for year in (2015..2025) reversed %}
                        <li><a href="https://www.sis.pitt.edu/lersais/conference/cic/{{ year }}/" target="_blank">CIC {{ year }}</a></li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Sponsors</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ site.baseurl1 }}/call-for-sponsors">Call for Sponsors</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>