---
title: "Awards"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>IEEE CIC 2026</title>
    {% include head.html %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css?v={{ site.css_version }}">
</head>

<body class="header-fixed">
    {% include banner.html %}
    <div class="wrapper" style="min-height: 800px">


        <div class="bg-color-light">
            
            <div class="breadcrumbs">
                <div class="container">
                    <h1 class="pull-left">Awards</h1>
                    <ul class="pull-right breadcrumb">
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li><a href="">Program</a></li>
                        <li class="active">Awards</li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <!-- Contents goes here -->
                    <div class="col-md-8"><!-- outter container  -->
                        <h3><strong>Best Paper for IEEE CIC 2026:</strong></h3>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-left">
                                    To be announced.
                                </p>
                            </div>
                        </div>
                        <h3><strong>Best Student Paper for IEEE CIC 2026:</strong></h3>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-left">
                                    To be announced.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- right panel begins -->
                    <div>
                        {% include sidebar1.html %}
                    </div>
                </div>
            </div>
            <!-- end  -->
        </div>
        <!--=== Footer ===-->
        {% include footer.html %}
        <!--=== End Footer ===-->

        <!--=== Scripts ===-->
        {% include scripts.html %}
        <!--=== End scripts ===-->
    </div>
</body>

</html>