---
title: "Travel Grants"
<!-- permalink: pretty -->
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    <title>IEEE CIC 2025</title>
    {% include head.html %}
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->




        <div class="bg-color-light">
            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
            </div>
            <div class="breadcrumbs">
                <div class="container">
                    <!-- <h1 class="pull-left">Travel Grants</h1> -->
                    <ul class="pull-right breadcrumb">
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li class="active">Travel Grants</li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <!-- Contents goes here -->
                <div class="row">
                    <div class="col-md-9"><!-- outter container  -->
                        <div class="news-v3-in">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="travel-grants-content">
                                        <h2>Student Travel Grants</h2>
                                        <p>The IEEE International Conference on Computational Intelligence in
                                            Cybersecurity, Trust, Privacy, and Security in Intelligent Systems and
                                            Applications, and Cognitive Machine Intelligence (IEEE CIC/TPS/CogMI 2025)
                                            encourages students to participate in the conference (and its co-located
                                            events) by partially subsidizing their travel costs up to a maximum of $700.
                                            These student travel grants are supported by our sponsors.</p>

                                        <h3>Eligibility and Selection Process</h3>
                                        <p>Support is available for selected undergraduate or graduate students from
                                            U.S. universities. The selection process will give preference to students
                                            without sufficient travel funding. Students from underrepresented groups are
                                            strongly encouraged to apply.</p>

                                        <h3>How to Apply</h3>
                                        <p>Students must fill out the <a href="https://forms.gle/WyC5Uv2mwhtyUCPm8"
                                                target="_blank">student grant application</a> and provide the following
                                            attachments needed in their application:</p>
                                        <ul>
                                            <li>Most up-to-date CV</li>
                                            <li>Brief personal statement summarizing research interests, accomplishments
                                                to date, and an explanation of how they can benefit from attending IEEE
                                                CIC/TPS/CogMI 2025.</li>
                                            <li>Letter of support from the student's research adviser that explicitly
                                                addresses the following 3 points:
                                                <ul>
                                                    <li>Confirm that the student is in good academic standing</li>
                                                    <li>State the availability (or lack thereof) of travel funds for the
                                                        student from NSF and/or other Federal funding agencies; and</li>
                                                    <li>State whether they will be able to cover any additional cost of
                                                        travel in excess of the travel award.</li>
                                                </ul>
                                            </li>
                                        </ul>

                                        <h3>Important Dates</h3>
                                        <ul>
                                            <li><strong>Application Due:</strong> Oct. 04, 2025</li>
                                            <li><strong>Notification:</strong> TBA</li>
                                        </ul>
                                        <p>Applications submitted outside of the submission period are not guaranteed to
                                            be considered.</p>

                                        <h3>Travel Grant Requirements and Payment</h3>
                                        <p>Student travel grant awardees are expected to actively participate in the
                                            conference including a student mentoring workshop. The travel grants will be
                                            in the form of reimbursement. The awardees will be provided the instructions
                                            to submit the required forms and receipts for processing the reimbursement
                                            after the conference.</p>

                                        <p>Any questions about the travel grants should be sent to the Student Travel
                                            Grant Chair, <a href="mailto:yawu@fiu.edu" target="_blank">Dr. Yanzhao Wu</a>.</p>

                                        <div style="height: 30px; clear: both;"></div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end inner container  -->
                    <!-- Sidebar -->
                    <div>
                        {% include sidebar.html %}
                    </div>
                </div>
            </div>
            <!--=== End Content ===-->

            <!--=== Footer ===-->
            {% include footer.html %}
            <!--=== End Footer ===-->
        </div>

        <!--=== Scripts ===-->
        {% include scripts.html %}
        <!--=== End scripts ===-->
    </div>
</body>

</html>