---
title: "blank"
<!-- permalink: pretty -->
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    <title>IEEE CogMI 2025</title>
    {% include head.html %}

</head>

<body class="header-fixed">

    <div class="wrapper">
        <!--=== Header===-->
        <div class="header-v3">
            <!-- <div class="container"></div> -->
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>

        




        <div class="bg-color-light">
            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
            </div>
            <!--=== End Header ===-->
            <div class="breadcrumbs">
                <div class="container">
                    <h1 class="pull-left">Organizing Commmittees</h1>
                    <ul class="pull-right breadcrumb">
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li class="active">Organizers</li>
                    </ul>
                </div>
            </div>

            
            <div class="container">
                <div class="row">
                    <!-- Contents goes here -->
                    <div class="col-md-9" ><!-- outter container  -->
                        <div class="news-v3-in">
                            <div class="row">
                                <!-- <div class="col-md-3">
                                    <ul class="no-padding margin-left-10 organizers-type-list hidden-xs"
                                        id="sidebar-nav">
                                        

                                        <li class=""><a href="#General">Executive Chairs of the Co-located
                                                Conferences</a>
                                        </li>
                                        <li class=""><a href="#Vice">General Co-Chairs</a></li>
                                        <li class=""><a href="#Program">Program Co-Chairs</a></li>
                                        <li class=""><a href="#ShortPaperProgram">Blue-Sky/ Vision Track
                                                Co-Chairs</a>
                                        </li>
                                        <li class=""><a href="#BestPaper">Industry/Government Co-Chairs</a></li>
                                        <li class=""><a href="#TestofTimeAward">Tutorial Co-Chairs</a></li>
                                        <li class=""><a href="#Industry">Sponsorship Co-Chairs</a></li>
                                        <li class=""><a href="#SummerSchool">Workshop Co-Chairs</a></li>
                                        <li class=""><a href="#Publicity">Finance and Local Arrangements Chairs</a>
                                        </li>
                                        <li class=""><a href="#DoctoralConsortium">Proceedings Chairs</a></li>
                                        <li class=""><a href="#Workshop">Publicity Chairs</a></li>
                                        <li class=""><a href="#DemonstrationPaper">Web Co-Chairs</a></li>
                                    </ul>
                                </div> -->
                                <div class="col-md-12">
                                    <div id="organizers">


                                        <h4 id="General">Executive Chairs of the Co-located Conferences</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank"
                                                        href="https://dawsec.dicom.uninsubria.it/elena.ferrari/">
                                                        <img
                                                            src="{{ site.baseurl }}/assets/img/organizers/elena.jpeg">Elena Ferrari</a>
                                                    <span class="affiliation">University of Insubria, Italy</span>
                                                </div>
                                            </li>

                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://www.rawatonline.com/">
                                                        <img
                                                            src="{{ site.baseurl }}/assets/img/organizers/danda.png">Danda
                                                        Rawat</a>
                                                    <span class="affiliation">Howard University, U.S.A</span>
                                                </div>
                                            </li>

                                            <li class="person-card">
                                                <div>
                                                    <!-- <a target="_blank" href="http://www.yorku.ca/jhuang/">
                                            <img src="{{ site.baseurl }}/assets/img/organizers/Jimmy_Huang.jpg">Jimmy Huang</a>
                                        York University, Canada -->
                                                </div>
                                            </li>

                                        </ul>

                                        <h4 id="Vice">General Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>TBD
                                                    <!-- <a target="_blank" href="http://www.thuir.cn/group/~YQLiu/">
                                            <img src="{{ site.baseurl }}/assets/img/organizers/Yiqun_Liu.jpg">Yiqun Liu</a>
                                        Tsinghua University, China -->
                                                </div>
                                            </li>
                                        </ul>



                                        <h4 id="Program">Program Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a href="https://boldi.di.unimi.it/">
                                                        <img
                                                            src="{{ site.baseurl }}/assets/img/organizers/paolo.jpg">Paolo
                                                        Boldi</a>
                                                    <span class="affiliation">University of Milano, Italy</span>
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://sse.umkc.edu/profiles/shyu-mei-ling.html">
                                                        <img
                                                            src="{{ site.baseurl }}/assets/img/organizers/mei-lin.jpg">Mei-Ling Shyu</a>
                                                    <span class="affiliation">University of Missouri-Kansas City, U.S.A</span>
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://ecs.syracuse.edu/faculty-staff/reza-zafarani">
                                                        <img
                                                            src="{{ site.baseurl }}/assets/img/organizers/reza.jpg">Reza Zafarani</a>
                                                    <span class="affiliation">Syracuse University, U.S.A</span>
                                                </div>
                                            </li>

                                        </ul>
                                        <h4 id="ShortPaperProgram">Blue-Sky/ Vision Track Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://search.asu.edu/profile/255975">
                                                        <img
                                                            src="{{ site.baseurl }}/assets/img/organizers/huanliu.jpg">Huan
                                                        Liu</a>
                                                    <span class="affiliation">Arizona State University, U.S.A</span>
                                                </div>
                                            </li>
                                            

                                            <li class="person-card">
                                                <div>
                                                    <!-- <a href="https://iew3.technion.ac.il/~kurland/">
                                            <img src="{{ site.baseurl }}/assets/img/organizers/Oren_Kurland.jpg">Oren Kurland</a>
                                        Israel Institute of Technology, Israel -->
                                                </div>
                                            </li>
                                        </ul>

                                        <h4 id="BestPaper">Industry/Government Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>TBD
                                                    <!-- <a target="_blank" href="http://www.is.informatik.uni-duisburg.de/staff/fuhr.html">
                                            <img src="{{ site.baseurl }}/assets/img/organizers/Norbert_Fuhr.jpg">Norbert Fuhr</a>
                                        University of Duisburg-Essen, Germany -->
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>TBD
                                                    <!-- <a href="http://www.rosiejonesphd.com/">
                                            <img src="{{ site.baseurl }}/assets/img/organizers/rosie.jpg"/>Rosie Jones</a>
                                            Spotify, U.S.A. -->
                                                </div>
                                            </li>
                                        </ul>


                                        <h4 id="TestofTimeAward">Tutorial Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>TBD
                                                    <!-- <a target="_blank" href="http://wp.comminfo.rutgers.edu/belkin/">
                                            <img src="{{ site.baseurl }}/assets/img/organizers/Nicholas_J_Belkin.jpg">Nicholas J. Belkin</a>
                                        Rutgers University, U.S.A. -->
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>TBD
                                                    <!-- <a href="https://www.uni-regensburg.de/sprache-literatur-kultur/informationswissenschaft/mitarbeiter/udo-kruschwitz/">
                                            <img src="{{ site.baseurl }}/assets/img/organizers/Udo_Kruschwitz.jpg">Udo Kruschwitz</a>
                                            Universität Regensburg, Germany -->
                                                </div>
                                            </li>
                                        </ul>

                                        <h4 id="Industry">Sponsorship Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://yanzhaowu.me/">
                                                        <img
                                                            src="{{ site.baseurl }}/assets/img/organizers/yanzhao.jpg">
                                                        Yanzhao Wu</a>
                                                    <span class="affiliation">Florida International University, U.S.A.</span>
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>TBD
                                                    <!-- <a href="https://www.linkedin.com/in/luo-si-00a5a54/">
                                            <img src="{{ site.baseurl }}/assets/img/organizers/Luo_Si.jpg">Luo Si</a>
                                        Alibaba Group Inc. -->
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>TBD
                                                    <!-- <a target="_blank" href="http://infosense.cs.georgetown.edu/grace/">
                                            <img src="{{ site.baseurl }}/assets/img/organizers/Grace_Hui_Yang.jpg">Grace Hui Yang</a>
                                        Georgetown University, U.S.A -->
                                                </div>
                                            </li>
                                        </ul>

                                        <h4 id="SummerSchool">Workshop Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank"
                                                        href="https://shi.buaa.edu.cn/xurunhua/en/more/203697/jsjjgd/index.htm">
                                                        <img
                                                            src="{{ site.baseurl }}/assets/img/organizers/runhua.jpeg">Runhua
                                                        Xu</a>
                                                    <span class="affiliation">Beihang University, China</span>

                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>TBD
                                                    <!-- <a href="http://www.bigdatalab.ac.cn/~lanyanyan/">
                                            <img src="{{ site.baseurl }}/assets/img/organizers/Yanyan_Lan.jpg">Yanyan Lan</a>
                                        Chinese Academy of Sciences, China -->
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>TBD
                                                    <!-- <a href="https://www.hangli-hl.com/index.html">
                                            <img src="{{ site.baseurl }}/assets/img/organizers/Hang_Li.jpg">Hang Li</a>
                                        ByteDance AI Lab, China -->
                                                </div>
                                            </li>
                                        </ul>

                                        <h4 id="Publicity">Finance and Local Arrangements Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a
                                                        href="https://www.engineering.pitt.edu/people/faculty/mai-abdelhakim/">
                                                        <img
                                                            src="{{ site.baseurl }}/assets/img/organizers/mai.jpeg">Mai
                                                        Abdelhakim</a>
                                                    <span class="affiliation">University of Pittsburgh, U.S.A.</span>
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>
                                                    <a
                                                        href="https://www.utech.edu.jm/academics/colleges-faculties/fenc/faculty-staff/jarrett-julian">
                                                        <img
                                                            src="{{ site.baseurl }}/assets/img/organizers/julian.jpeg">Julian
                                                        Jarrett</a>
                                                    <span class="affiliation">Lutron Electronics, U.S.A.</span><br>
                                                    
                                                    
                                                </div>
                                            </li>

                                        </ul>

                                        <h4 id="DoctoralConsortium">Proceedings Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank"
                                                        href="https://shi.buaa.edu.cn/xurunhua/en/more/203697/jsjjgd/index.htm">
                                                        <img
                                                            src="{{ site.baseurl }}/assets/img/organizers/runhua.jpeg">Runhua
                                                        Xu</a>
                                                    <span class="affiliation">Beihang University, China</span>
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>TBD
                                                    <!-- <a href="https://www.barbara.cl/">
                                            <img src="{{ site.baseurl }}/assets/img/organizers/Barbara_Poblete.jpg">Barbara Poblete</a>
                                        University of Chile, Chile -->
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>TBD
                                                    <!-- <a target="_blank" href="http://qub.ac.uk/schools/eeecs/Connect/Staff/BusinessCard/?name=j.shen">
                                            <img src="{{ site.baseurl }}/assets/img/organizers/Jerry_Shen.jpg">Jerry Shen</a>
                                        Queen's University Belfast, U.K. -->
                                                </div>
                                            </li>

                                        </ul>

                                        <h4 id="Workshop">Publicity Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://yanzhaowu.me/">
                                                        <img
                                                            src="{{ site.baseurl }}/assets/img/organizers/yanzhao.jpg">
                                                        Yanzhao Wu</a>
                                                    <span class="affiliation">Florida International University, U.S.A.</span>
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>TBD
                                                    <!-- <a href="https://www.cse.msu.edu/~tangjili/">
                                            <img src="{{ site.baseurl }}/assets/img/organizers/Jiliang_Tang.jpg">Jiliang Tang</a>
                                        Michigan State University, U.S.A. -->
                                                </div>
                                            </li>
                                        </ul>

                                        <h4 id="Workshop">Student Travel Grant Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://yanzhaowu.me/">
                                                        <img
                                                            src="{{ site.baseurl }}/assets/img/organizers/yanzhao.jpg">
                                                        Yanzhao Wu</a>
                                                    <span class="affiliation">Florida International University, U.S.A.</span>
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>TBD
                                                    <!-- <a href="https://www.cse.msu.edu/~tangjili/">
                                            <img src="{{ site.baseurl }}/assets/img/organizers/Jiliang_Tang.jpg">Jiliang Tang</a>
                                        Michigan State University, U.S.A. -->
                                                </div>
                                            </li>
                                        </ul>

                                        <h4 id="DemonstrationPaper">Web Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://sites.pitt.edu/~peh53/">
                                                        <img
                                                            src="{{ site.baseurl }}/assets/img/organizers/peilin.png">Peilin
                                                        He</a>
                                                    <span class="affiliation">University of Pittsburgh, U.S.A.</span>
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>
                                                    <a href="">
                                                        <img
                                                            src="{{ site.baseurl }}/assets/img/organizers/liou.jpg">Liou
                                                        Tang</a>
                                                    <span class="affiliation">University of Pittsburgh, U.S.A.</span>
                                                </div>
                                            </li>
                                        </ul>
                                        <div style="height: 30px; clear: both;"></div>


                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>
                
                    <!-- right panel begins -->
                    <div>
                        {% include sidebar.html %}
                    </div>
                </div>        
                    
            <!-- end  -->
            </div>  
            


            <!--=== Footer ===-->
            {% include footer.html %}
            <!--=== End Footer ===-->
        </div>

        <!--=== Scripts ===-->
        {% include scripts.html %}
        <!--=== End scripts ===-->

</body>

</html>