---
title: "Accepted Papers"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>IEEE TPS 2025</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css?v={{ site.css_version }}">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->


        <div class="bg-color-light">

            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
            </div>
            <div class="breadcrumbs">
                <div class="container">
                    <h1 class="pull-left">Accepted Papers</h1>
                    <ul class="pull-right breadcrumb">
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li><a href="">Program</a></li>
                        <li class="active">Accepted Papers</li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <!-- Contents goes here -->
                    <div class="col-md-8"><!-- outter container  -->
                        <div class="news-v3-in">

                            <h2 class="margin-bottom-5" style="margin-bottom: 0">
                                <strong>IEEE TPS 2025 Accepted Papers</strong>
                            </h2>

                            <p class="text-justify">
                                We are pleased to announce the accepted papers for IEEE TPS 2025. The conference
                                received numerous high-quality submissions across various tracks. All
                                accepted papers will be published in the IEEE Proceedings and oral presented
                                at the conference.
                            </p>

                            <hr>

                            <div class="accepted-papers-lists">
                                <div class="panel-group panel-group-elegant" id="accordion-papers" role="tablist"
                                    aria-multiselectable="true">

                                    <!-- Research Track Papers Panel -->
                                    <div class="panel panel-elegant">
                                        <div class="panel-heading panel-heading-elegant" role="tab"
                                            id="heading-research">
                                            <h4 class="panel-title panel-title-elegant">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                    data-parent="#accordion-papers" href="#collapse-research"
                                                    aria-expanded="false" aria-controls="collapse-research">
                                                    Research Track Papers (Main)
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse-research"
                                            class="panel-collapse panel-collapse-elegant collapse" role="tabpanel"
                                            aria-labelledby="heading-research">
                                            <div class="panel-body panel-body-elegant">

                                                <!-- Nested Round Panels -->
                                                <div class="sub-panel-group">
                                                    <!-- Round 1 -->
                                                    <div class="sub-panel">
                                                        <div class="sub-panel-heading round1-gradient" role="tab"
                                                            id="heading-research-round1">
                                                            <h5 class="sub-panel-title">
                                                                <a class="collapsed" role="button"
                                                                    data-toggle="collapse"
                                                                    data-parent=".sub-panel-group"
                                                                    href="#collapse-research-round1"
                                                                    aria-expanded="false"
                                                                    aria-controls="collapse-research-round1">
                                                                    Round 1 Submissions
                                                                </a>
                                                            </h5>
                                                        </div>
                                                        <div id="collapse-research-round1"
                                                            class="panel-collapse collapse" role="tabpanel"
                                                            aria-labelledby="heading-research-round1">
                                                            <div class="sub-panel-body">
                                                                <!-- <h4 class="accepted-papers-title">PPFL-RDSN:
                                                                    Privacy-Preserving Federated Learning-based Residual
                                                                    Dense Spatial Networks for Encrypted Lossy Image
                                                                    Reconstruction</h4>
                                                                <h5 class="accepted-papers-authors">Peilin He, James Joshi : University of Pittsburgh</h5> -->
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Round 2 -->
                                                    <div class="sub-panel">
                                                        <div class="sub-panel-heading round2-gradient" role="tab"
                                                            id="heading-research-round2">
                                                            <h5 class="sub-panel-title">
                                                                <a class="collapsed" role="button"
                                                                    data-toggle="collapse"
                                                                    data-parent=".sub-panel-group"
                                                                    href="#collapse-research-round2"
                                                                    aria-expanded="false"
                                                                    aria-controls="collapse-research-round2">
                                                                    Round 2 Submissions
                                                                </a>
                                                            </h5>
                                                        </div>
                                                        <div id="collapse-research-round2"
                                                            class="panel-collapse collapse" role="tabpanel"
                                                            aria-labelledby="heading-research-round2">
                                                            <div class="sub-panel-body">
                                                                <h4 class="accepted-papers-title">Coming Soon</h4>
                                                                <h5 class="accepted-papers-authors">Round 2 research
                                                                    track paper results will be announced soon.</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Vision Track Papers Panel -->
                                    <div class="panel panel-elegant">
                                        <div class="panel-heading panel-heading-elegant" role="tab" id="heading-vision"
                                            style="background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);">
                                            <h4 class="panel-title panel-title-elegant">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                    data-parent="#accordion-papers" href="#collapse-vision"
                                                    aria-expanded="false" aria-controls="collapse-vision">
                                                    Vision Track Papers
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse-vision" class="panel-collapse panel-collapse-elegant collapse"
                                            role="tabpanel" aria-labelledby="heading-vision">
                                            <div class="panel-body panel-body-elegant">

                                                <!-- Nested Round Panels -->
                                                <div class="sub-panel-group">
                                                    <!-- Round 1 -->
                                                    <div class="sub-panel">
                                                        <div class="sub-panel-heading round1-gradient" role="tab"
                                                            id="heading-vision-round1">
                                                            <h5 class="sub-panel-title">
                                                                <a class="collapsed" role="button"
                                                                    data-toggle="collapse"
                                                                    data-parent=".sub-panel-group"
                                                                    href="#collapse-vision-round1" aria-expanded="false"
                                                                    aria-controls="collapse-vision-round1">
                                                                    Round 1 Submissions
                                                                </a>
                                                            </h5>
                                                        </div>
                                                        <div id="collapse-vision-round1" class="panel-collapse collapse"
                                                            role="tabpanel" aria-labelledby="heading-vision-round1">
                                                            <div class="sub-panel-body">
                                                                <h4 class="accepted-papers-title">Coming Soon</h4>
                                                                <h5 class="accepted-papers-authors">Round 1 vision track
                                                                    paper results will be announced soon.</h5>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Round 2 -->
                                                    <div class="sub-panel">
                                                        <div class="sub-panel-heading round2-gradient" role="tab"
                                                            id="heading-vision-round2">
                                                            <h5 class="sub-panel-title">
                                                                <a class="collapsed" role="button"
                                                                    data-toggle="collapse"
                                                                    data-parent=".sub-panel-group"
                                                                    href="#collapse-vision-round2" aria-expanded="false"
                                                                    aria-controls="collapse-vision-round2">
                                                                    Round 2 Submissions
                                                                </a>
                                                            </h5>
                                                        </div>
                                                        <div id="collapse-vision-round2" class="panel-collapse collapse"
                                                            role="tabpanel" aria-labelledby="heading-vision-round2">
                                                            <div class="sub-panel-body">
                                                                <h4 class="accepted-papers-title">Coming Soon</h4>
                                                                <h5 class="accepted-papers-authors">Round 2 vision track
                                                                    paper results will be announced soon.</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Industry/Government Papers Panel -->
                                    <div class="panel panel-elegant">
                                        <div class="panel-heading panel-heading-elegant" role="tab"
                                            id="heading-industry"
                                            style="background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);">
                                            <h4 class="panel-title panel-title-elegant">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                    data-parent="#accordion-papers" href="#collapse-industry"
                                                    aria-expanded="false" aria-controls="collapse-industry">
                                                    Industry/Government Papers
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse-industry"
                                            class="panel-collapse panel-collapse-elegant collapse" role="tabpanel"
                                            aria-labelledby="heading-industry">
                                            <div class="panel-body panel-body-elegant">

                                                <!-- Nested Round Panels -->
                                                <div class="sub-panel-group">
                                                    <!-- Round 1 -->
                                                    <div class="sub-panel">
                                                        <div class="sub-panel-heading round1-gradient" role="tab"
                                                            id="heading-industry-round1">
                                                            <h5 class="sub-panel-title">
                                                                <a class="collapsed" role="button"
                                                                    data-toggle="collapse"
                                                                    data-parent=".sub-panel-group"
                                                                    href="#collapse-industry-round1"
                                                                    aria-expanded="false"
                                                                    aria-controls="collapse-industry-round1">
                                                                    Round 1 Submissions
                                                                </a>
                                                            </h5>
                                                        </div>
                                                        <div id="collapse-industry-round1"
                                                            class="panel-collapse collapse" role="tabpanel"
                                                            aria-labelledby="heading-industry-round1">
                                                            <div class="sub-panel-body">
                                                                <h4 class="accepted-papers-title">Coming Soon</h4>
                                                                <h5 class="accepted-papers-authors">Round 1
                                                                    industry/government track paper results will be
                                                                    announced soon.</h5>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Round 2 -->
                                                    <div class="sub-panel">
                                                        <div class="sub-panel-heading round2-gradient" role="tab"
                                                            id="heading-industry-round2">
                                                            <h5 class="sub-panel-title">
                                                                <a class="collapsed" role="button"
                                                                    data-toggle="collapse"
                                                                    data-parent=".sub-panel-group"
                                                                    href="#collapse-industry-round2"
                                                                    aria-expanded="false"
                                                                    aria-controls="collapse-industry-round2">
                                                                    Round 2 Submissions
                                                                </a>
                                                            </h5>
                                                        </div>
                                                        <div id="collapse-industry-round2"
                                                            class="panel-collapse collapse" role="tabpanel"
                                                            aria-labelledby="heading-industry-round2">
                                                            <div class="sub-panel-body">
                                                                <h4 class="accepted-papers-title">Coming Soon</h4>
                                                                <h5 class="accepted-papers-authors">Round 2
                                                                    industry/government track paper results will be
                                                                    announced soon.</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Workshop Papers Panel -->
                                    <div class="panel panel-elegant">
                                        <div class="panel-heading panel-heading-elegant" role="tab"
                                            id="heading-workshop"
                                            style="background: linear-gradient(135deg, #fa709a 0%, #fee140 100%);">
                                            <h4 class="panel-title panel-title-elegant">
                                                <a class="collapsed" role="button" data-toggle="collapse"
                                                    data-parent="#accordion-papers" href="#collapse-workshop"
                                                    aria-expanded="false" aria-controls="collapse-workshop">
                                                    Workshop Papers
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse-workshop"
                                            class="panel-collapse panel-collapse-elegant collapse" role="tabpanel"
                                            aria-labelledby="heading-workshop">
                                            <div class="panel-body panel-body-elegant">
                                                <h4 class="accepted-papers-title">Coming Soon</h4>
                                                <h5 class="accepted-papers-authors">Workshop paper acceptance
                                                    notifications will be announced soon.</h5>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div style="height: 30px; clear: both;"></div>
                        </div>
                    </div>
                    <!-- right panel begins -->
                    <div>
                        {% include sidebar1.html %}
                    </div>
                </div>
            </div>
        </div>

        <!--=== End Content ===-->


        <!--=== Footer ===-->
        {% include footer.html %}
        <!--=== End Footer ===-->

        <!--=== Scripts ===-->
        {% include scripts.html %}
        <!--=== End scripts ===-->
    </div>
</body>

</html>