---
title: "Accepted Papers"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>IEEE TPS 2025</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css?v={{ site.css_version }}">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->


        <div class="bg-color-light">

            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
            </div>
            <div class="breadcrumbs">
                <div class="container">
                    <h1 class="pull-left">Accepted Papers</h1>
                    <ul class="pull-right breadcrumb">
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li><a href="">Program</a></li>
                        <li class="active">Accepted Papers</li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <!-- Contents goes here -->
                    <div class="col-md-8"><!-- outter container  -->
                        <div class="news-v3-in">

                            <h2 class="margin-bottom-5" style="margin-bottom: 0">
                                <strong>IEEE TPS 2025 Accepted Papers</strong>
                            </h2>

                            <p class="text-justify">
                                We are pleased to announce the accepted papers for IEEE TPS 2025. The conference
                                received numerous high-quality submissions across various tracks. All
                                accepted papers will be published in the IEEE Proceedings and oral presented
                                at the conference.
                            </p>

                            <hr>

                            <div class="accepted-papers-lists">
                                <div class="panel-group panel-group-elegant" id="accordion-papers" role="tablist" aria-multiselectable="true">

                                    <!-- TPS Research Session Panel -->
                                    <div class="panel panel-elegant">
                                        <div class="panel-heading panel-heading-elegant" role="tab" id="heading-research">
                                            <h4 class="panel-title panel-title-elegant">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-papers" href="#collapse-research" aria-expanded="false" aria-controls="collapse-research">
                                                    TPS Research Session
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse-research" class="panel-collapse panel-collapse-elegant collapse" role="tabpanel" aria-labelledby="heading-research">
                                            <div class="panel-body panel-body-elegant">

                                                <h4 class="accepted-papers-title">Enabling Privacy-Preserving Model Evaluation in Federated Learning via Fully Homomorphic Encryption</h4>
                                                <h5 class="accepted-papers-authors">Cem Ata Baykara (University of T&uuml;bingen, Germany), Ali Burak &Uuml;nal (University of T&uuml;bingen, Germany), and Mete Akg&uuml;n (University of T&uuml;bingen, Germany)</h5>

                                                <h4 class="accepted-papers-title">HERL: Tiered Federated Learning with Adaptive Homomorphic Encryption Using Reinforcement Learning</h4>
                                                <h5 class="accepted-papers-authors">Jiaxang Tang (University of Minnesota, USA), Zeshan Fayyaz (University of Waterloo, Canada), Mohammad A. Salahuddin (University of Waterloo, Canada), Raouf Boutaba (University of Waterloo, Canada), Zhi-Li Zhang (University of Minnesota, USA), and Ali Anwar (University of Minnesota, USA)</h5>

                                                <h4 class="accepted-papers-title">PPFL-RDSN: Privacy-Preserving Federated Learning-Based Residual Dense Spatial Networks for Encrypted Lossy Image Reconstruction</h4>
                                                <h5 class="accepted-papers-authors">Peilin He (University of Pittsburgh, USA) and James Joshi (University of Pittsburgh, USA)</h5>

                                                <h4 class="accepted-papers-title">One-Shot Secure Aggregation: A Hybrid Cryptographic Protocol for Private Federated Learning in IoT</h4>
                                                <h5 class="accepted-papers-authors">Imraul Kayes Emmaka (University of Arkansas at Little Rock, USA) and Tran Viet Xuan Phuong (University of Arkansas at Little Rock, USA)</h5>

                                                <h4 class="accepted-papers-title">RBBD: A Representation-Based Framework for Edge-Case Backdoor Defense in Federated Learning</h4>
                                                <h5 class="accepted-papers-authors">Samir Poudel (Middle Tennessee State University, TN), Kritagya Upadhyay (Middle Tennessee State University, TN), and Jiblal Upadhya (Lander University, S.C.)</h5>

                                                <h4 class="accepted-papers-title">Enhancing Resilience in Industrial Control Systems: Rapid Attack Detection, Recovery, and Monotonicity Preservation Through STL-GT Online Monitoring</h4>
                                                <h5 class="accepted-papers-authors">Chidi Agbo (University of Nebraska at Kearney, USA) and Hoda Mehrpouyan (Boise State University, USA)</h5>

                                                <h4 class="accepted-papers-title">Robust Physically Realizable Backdoor Attack</h4>
                                                <h5 class="accepted-papers-authors">Md Jahirul Islam (Kennesaw State University, USA) and Kazi Aminul Islam (Kennesaw State University, USA)</h5>

                                                <h4 class="accepted-papers-title">Fidelity-Optimizing Defense Mechanism Against Membership Inference Attacks</h4>
                                                <h5 class="accepted-papers-authors">Md Faisal Ahmed (George Mason University) and Zhengdao Wang (George Mason University)</h5>

                                                <h4 class="accepted-papers-title">NatGVD: Natural Adversarial Example Attack Towards Graph-Based Vulnerability Detection</h4>
                                                <h5 class="accepted-papers-authors">Avilash Rath (The University of Texas at Dallas), Weiliang Qi (The University of Texas at Dallas), Youpeng Li (The University of Texas at Dallas), and Xinda Wang (The University of Texas at Dallas)</h5>

                                                <h4 class="accepted-papers-title">Explainable but Vulnerable: Adversarial Attacks on XAI Explanation in Cybersecurity Applications</h4>
                                                <h5 class="accepted-papers-authors">Maraz Mia (Tennessee Tech University, USA) and Mir Mehedi Ahsan Pritom (Tennessee Tech University, USA)</h5>

                                                <h4 class="accepted-papers-title">Anomaly Detection in Graphs via Topology-Aware Attention Mechanisms</h4>
                                                <h5 class="accepted-papers-authors">Narges Alipourjeddi (Toronto Metropolitan University, Canada) and Ali Miri (Toronto Metropolitan University, Canada)</h5>

                                                <h4 class="accepted-papers-title">It&rsquo;s About Time!: Exploiting Timing Variance for IoT Device-Type Fingerprinting</h4>
                                                <h5 class="accepted-papers-authors">Maxwel Bar-on (Colorado State University, USA), Alanood Alqobaisi (Colorado State University, USA), Bruhadeshwar Bezawada (Southern Arkansas University, USA), Indrakshi Ray (Colorado State University, USA), and Indrajit Ray (Colorado State University, USA)</h5>

                                                <h4 class="accepted-papers-title">Data Access Control in Large Language Models</h4>
                                                <h5 class="accepted-papers-authors">Nouha Oualha (Universit&eacute; Paris-Saclay, France) and Christophe Janneteau (Universit&eacute; Paris-Saclay, France)</h5>

                                                <h4 class="accepted-papers-title">Clone What You Can&rsquo;t Steal: Black-Box LLM Replication via Logit Leakage and Distillation</h4>
                                                <h5 class="accepted-papers-authors">Kanchon Gharami (Embry-Riddle Aeronautical University, USA), Hansaka Aluvihare (Embry-Riddle Aeronautical University, USA), Shafika Showkat Moni (Embry-Riddle Aeronautical University, USA), and Berker Pek&ouml;z (Embry-Riddle Aeronautical University, USA)</h5>

                                                <h4 class="accepted-papers-title">PRvL: Quantifying the Capabilities and Risks of Large Language Models for PII Redaction</h4>
                                                <h5 class="accepted-papers-authors">Leon Garza (The University of Texas at El Paso, USA), Anantaa Kotal (The University of Texas at El Paso, USA), Aritran Piplai (The University of Texas at El Paso, USA), Lavanya Elluri (Texas A&amp;M University-Central Texas, USA), Prajit Kumar Das (Cisco Systems Inc, USA), and Aman Chadha (Amazon Web Services, USA)</h5>

                                                <h4 class="accepted-papers-title">LLMalMorph: On The Feasibility of Generating Variant Malware Using Large-Language-Models</h4>
                                                <h5 class="accepted-papers-authors">Md Ajwad Akil (Purdue University, USA), Adrian Shuai Li (Purdue University, USA), Imtiaz Karim (The University of Texas at Dallas, USA), Arun Iyengar (Intelligent Data Management and Analytics, LLC, USA), Ashish Kundu (Cisco Research, USA), Vinny Parla (Cisco Systems, Inc, USA), and Elisa Bertino (Purdue University, USA)</h5>

                                                <h4 class="accepted-papers-title">CipherBERT: A Systematic Framework for High-Accuracy Encrypted Transformer Inference</h4>
                                                <h5 class="accepted-papers-authors">Nisarg Bhavsar (Indian Institute of Technology Kharagpur, India) and Zaid Ahmed Khan (Indian Institute of Technology Kharagpur, India)</h5>

                                                <h4 class="accepted-papers-title">CoDICE: Roll the DICE for Firmware Attestation</h4>
                                                <h5 class="accepted-papers-authors">Rakesh Podder (Colorado State University, USA), Jason Simental (Colorado State University, USA), Elmaddin Azizli (Colorado State University, USA), Bharadwaj Mantha (Colorado State University, USA), and Indrajit Ray (Colorado State University, USA)</h5>

                                                <h4 class="accepted-papers-title">Limitations of Watermarking AI-Generated Speech Using AudioSeal</h4>
                                                <h5 class="accepted-papers-authors">Shameer Faziludeen (University College Cork, Ireland), Arun Sankar M. S. (South East Technological University, Ireland), Phillip L. De Leon (University of Colorado Denver, USA), and Utz Roedig (University College Cork, Ireland)</h5>

                                                <h4 class="accepted-papers-title">Diffusion Based Face Generation via Image Editing and Image Morphing</h4>
                                                <h5 class="accepted-papers-authors">Liyue Fan (University of North Carolina at Charlotte, USA) and Joseph Roberson (University of North Carolina at Charlotte, USA)</h5>

                                                <h4 class="accepted-papers-title">EDL: Efficient Data-Oblivious Loops</h4>
                                                <h5 class="accepted-papers-authors">Biniyam Tiruye (University of Michigan, USA), Lauren Biernacki (Lafayette College, USA), and Todd Austin (University of Michigan, USA)</h5>

                                                <h4 class="accepted-papers-title">Decoding the Decoders: An Empirical Study of Reverse Engineering Questions on Stack Exchange</h4>
                                                <h5 class="accepted-papers-authors">Md Rakibul Islam (Lamar University, USA), Md Humaun Kabir (Lamar University, USA), and Anwarul Islam Sifat (Lamar University, USA)</h5>

                                                <h4 class="accepted-papers-title">PQC-LEO: An Evaluation Framework for Post-Quantum Cryptographic Algorithms</h4>
                                                <h5 class="accepted-papers-authors">Callum Turino (Edinburgh Napier University, UK), William J. Buchanan (Edinburgh Napier University, UK), Owen Lo (Edinburgh Napier University, UK), and Christoph Th&uuml;mmler (6GHI, Germany)</h5>

                                                <h4 class="accepted-papers-title">Explainable AI in Data Poisoning Threat Models Across the CIA Triad: A Smart Grid Case Study</h4>
                                                <h5 class="accepted-papers-authors">Gustavo S&aacute;nchez (Karlsruhe Institute of Technology (KIT), Germany), Ghada Elbez (Karlsruhe Institute of Technology (KIT), Germany), and Veit Hagenmeyer (Karlsruhe Institute of Technology (KIT), Germany)</h5>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- TPS Application Session Panel -->
                                    <div class="panel panel-elegant">
                                        <div class="panel-heading panel-heading-elegant" role="tab" id="heading-application" style="background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);">
                                            <h4 class="panel-title panel-title-elegant">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-papers" href="#collapse-application" aria-expanded="false" aria-controls="collapse-application">
                                                    TPS Application Session
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse-application" class="panel-collapse panel-collapse-elegant collapse" role="tabpanel" aria-labelledby="heading-application">
                                            <div class="panel-body panel-body-elegant">

                                                <h4 class="accepted-papers-title">A Privacy-Fidelity Tradeoff Framework in Post-Processed Machine Learning</h4>
                                                <h5 class="accepted-papers-authors">Md Faisal Ahmed (George Mason University) and Zhengdao Wang (George Mason University)</h5>

                                                <h4 class="accepted-papers-title">Learning from Literature: A Retraining-Free Framework for LLM Jailbreak Defense via NLP-Based Adversarial Literature Analysis</h4>
                                                <h5 class="accepted-papers-authors">Sheikh Samit Muhaimin (University of Notre Dame, USA) and Spyridon Mastorakis (University of Notre Dame, USA)</h5>

                                                <h4 class="accepted-papers-title">Images in Motion?: A First Look into Video Leakage in Collaborative Deep Learning</h4>
                                                <h5 class="accepted-papers-authors">Md Fazle Rasul (Colorado State University, USA), Alanood Alqobaisi (Colorado State University, USA), Bruhadeshwar Bezawada (Southern Arkansas University, USA), and Indrakshi Ray (Colorado State University, USA)</h5>

                                                <h4 class="accepted-papers-title">Privacy-Preserving AI-Enabled Decentralized Learning and Employment Records System</h4>
                                                <h5 class="accepted-papers-authors">Yuqiao Xu (Case Western Reserve University, USA), Mina Namazi (Case Western Reserve University, USA), Sahith Reddy Jalapally (Case Western Reserve University, USA), Osama Zafar (Case Western Reserve University, USA), Youngjin Yoo (The London School of Economics and Political Science, United Kingdom), and Erman Ayday (Case Western Reserve University, USA)</h5>

                                                <h4 class="accepted-papers-title">FALCON: Federated Anomaly Learning and COllaborative Network for Secure Autonomous Vehicles</h4>
                                                <h5 class="accepted-papers-authors">Riadh Ben Chaabene (&Eacute;cole de technologie sup&eacute;rieure (&Eacute;TS), Canada), Darine Amayed (&Eacute;cole de technologie sup&eacute;rieure (&Eacute;TS), Canada), Fehmi Jaafar (Universit&eacute; du Qu&eacute;bec &agrave; Chicoutimi (UQAC), Canada), and Mohamed Cheriet (&Eacute;cole de technologie sup&eacute;rieure (&Eacute;TS), Canada)</h5>

                                                <h4 class="accepted-papers-title">MAVUL: Multi-Agent Vulnerability Detection via Contextual Reasoning and Interactive Refinement</h4>
                                                <h5 class="accepted-papers-authors">Youpeng Li (University of Texas at Dallas, USA), Kartik Joshi (University of Texas at Dallas, USA), Xinda Wang (University of Texas at Dallas, USA), and Eric Wong (University of Texas at Dallas, USA)</h5>

                                                <h4 class="accepted-papers-title">Leveraging Transformer Models and eXplainable Reinforcement Learning Methods for Advanced Intrusion Detection and Response System</h4>
                                                <h5 class="accepted-papers-authors">Mohammad Ghasemigol (Old Dominion University, USA) and Daniel Takabi (Old Dominion University, USA)</h5>

                                                <h4 class="accepted-papers-title">GPS Spoofing Attacks and Pilot Responses Using a Flight Simulator Environment</h4>
                                                <h5 class="accepted-papers-authors">Mathilde Durieux (&Eacute;cole de l&rsquo;air et de l&rsquo;espace Chemin St Jean, France), Kayla D. Taylor (Embry-Riddle Aeronautical University, USA), Laxima Niure Kandel (Embry-Riddle Aeronautical University, USA), and Deepti Gupta (Texas A&amp;M University-Central Texas, TX)</h5>

                                                <h4 class="accepted-papers-title">VulnDetective: Using LLM Agents to Analyze Common Weaknesses and Identify Smart Contract Vulnerabilities</h4>
                                                <h5 class="accepted-papers-authors">Thanmai Mandala (University of Texas at Dallas), Cora Zeger (University of Denver), Tessa E. Andersen (Brigham Young University), Gaby G. Dagher (Boise State University), and Jun Zhuang (Boise State University)</h5>

                                                <h4 class="accepted-papers-title">XAST: Explainable AST-Transformer for Smart Contract Vulnerability Detection</h4>
                                                <h5 class="accepted-papers-authors">Harshith Sai Veeraiah (California State University, Sacramento), Syed Badruddoja (California State University, Sacramento), and Ram Dantu (University of North Texas)</h5>

                                                <h4 class="accepted-papers-title">Guiding Reinforcement Learning Using Uncertainty-Aware Large Language Models</h4>
                                                <h5 class="accepted-papers-authors">Maryam Shoaeinaeini (University of Kentucky) and Brent Harrison (University of Kentucky)</h5>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- TPS Invited Session Panel -->
                                    <div class="panel panel-elegant">
                                        <div class="panel-heading panel-heading-elegant" role="tab" id="heading-invited" style="background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);">
                                            <h4 class="panel-title panel-title-elegant">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-papers" href="#collapse-invited" aria-expanded="false" aria-controls="collapse-invited">
                                                    TPS Invited Session
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse-invited" class="panel-collapse panel-collapse-elegant collapse" role="tabpanel" aria-labelledby="heading-invited">
                                            <div class="panel-body panel-body-elegant">

                                                <h4 class="accepted-papers-title">Security of Operations on Random Numbers</h4>
                                                <h5 class="accepted-papers-authors">Tejas Sharma (IIT Bombay, India) and Ashish Kundu (Cisco Research, USA)</h5>

                                                <h4 class="accepted-papers-title">Experiences Building Enterprise-Level Privacy-Preserving Federated Learning to Power AI for Science</h4>
                                                <h5 class="accepted-papers-authors">Zilinghan Li (Argonne National Laboratory; National Center for Supercomputing Applications), Aditya Sinha (Argonne National Laboratory; National Center for Supercomputing Applications; University of Illinois at Urbana-Champaign), Yijiang Li (Argonne National Laboratory), Kyle Chard (Argonne National Laboratory; The University of Chicago), Kibaek Kim (Argonne National Laboratory; The University of Chicago), and Ravi Madduri (Argonne National Laboratory; The University of Chicago)</h5>

                                                <h4 class="accepted-papers-title">Detection of Blacktopped Counterfeit ICs Using Surface Texture Analysis</h4>
                                                <h5 class="accepted-papers-authors">John M. Klamut (University of Pittsburgh, USA), Mai Abdelhakim (University of Pittsburgh, USA), Samuel J. Dickerson (University of Pittsburgh, USA), Ashish Avachat (University of Pittsburgh, USA), Heng Ban (University of Pittsburgh, USA), and Philip Santillo (University of Pittsburgh, USA)</h5>

                                                <h4 class="accepted-papers-title">Upgrade or Switch: Do We Need a Next-Gen Trusted Architecture for the Internet of AI Agents?</h4>
                                                <h5 class="accepted-papers-authors">Ramesh Raskar (Massachusetts Institute of Technology), Pradyumna Chari (Massachusetts Institute of Technology), Mahesh Lambe (Independent Researcher), Robert Lincourt (Dell Technologies), Raghu Bala (Synergetics AI), Aditi Joshi (Independent Researcher), Jared Grogan (Independent Researcher), Abhishek Singh (Massachusetts Institute of Technology), Ayush Chopra (Massachusetts Institute of Technology), Rajesh Ranjan (Independent Researcher), Shailja Gupta (Independent Researcher), Dimitris Strepalis (Flower AI), Maria Gorskikh (Independent Researcher), and Sichao Wang (Cisco Systems)</h5>

                                                <h4 class="accepted-papers-title">Challenges in Identifying Illicit Actors in Financial Networks</h4>
                                                <h5 class="accepted-papers-authors">Amro Aljundi (University of Virginia, USA), Abhijin Adiga (University of Virginia, USA), Philip Potter (University of Virginia, USA), Samarth Swarup (University of Virginia, USA), Anil Vullikanti (University of Virginia, USA), and Madhav Marathe (University of Virginia, USA)</h5>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- IEEE SR-CIST 2025 Workshop Panel -->
                                    <div class="panel panel-elegant">
                                        <div class="panel-heading panel-heading-elegant" role="tab" id="heading-srcist" style="background: linear-gradient(135deg, #fa709a 0%, #fee140 100%);">
                                            <h4 class="panel-title panel-title-elegant">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-papers" href="#collapse-srcist" aria-expanded="false" aria-controls="collapse-srcist">
                                                    IEEE Workshop on Security and Resiliency of Critical Infrastructure and Space Technologies (IEEE SR-CIST 2025)
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse-srcist" class="panel-collapse panel-collapse-elegant collapse" role="tabpanel" aria-labelledby="heading-srcist">
                                            <div class="panel-body panel-body-elegant">

                                                <h4 class="accepted-papers-title">A Multi-Layered Embedded Intrusion Detection Framework for Programmable Logic Controllers</h4>
                                                <h5 class="accepted-papers-authors">Rishabh Das (Ohio University, USA), Aaron Werth (The University of Alabama in Huntsville, USA), and Tommy Morris (The University of Alabama in Huntsville, USA)</h5>

                                                <h4 class="accepted-papers-title">Investigating Physical Consequences of Cyber-Attacks Using a Cyber-Physical Model of a Compressor Station</h4>
                                                <h5 class="accepted-papers-authors">Andrew S. Hahn (Sandia National Laboratories, NM), Adam J. Beauchaine (Sandia National Laboratories, NM), Lee T. Maccarone (Sandia National Laboratories, NM), Titus A. Gray (Sandia National Laboratories, NM), and Robert S. Lois (Sandia National Laboratories, NM)</h5>

                                                <h4 class="accepted-papers-title">TPM-Based Continuous Remote Attestation and Integrity Verification for 5G VNFs on Kubernetes</h4>
                                                <h5 class="accepted-papers-authors">Al Nahian Bin Emran (George Mason University, USA), Rajendra Upadhyay (George Mason University, USA), Rajendra Paudyal (George Mason University, USA), Lisa Donnan (George Mason University, USA), and Duminda Wijesekera (George Mason University, USA)</h5>

                                                <h4 class="accepted-papers-title">Resilience to Dynamic Load Attacks Under AI Demand and Hyperscale Data Centers</h4>
                                                <h5 class="accepted-papers-authors">Masoud Barati (University of Pittsburgh, USA)</h5>

                                                <h4 class="accepted-papers-title">Quantitative Analysis of UAV Intrusion Mitigation for Border Security in 5G with LEO Backhaul Impairments</h4>
                                                <h5 class="accepted-papers-authors">Rajendra Upadhyay (George Mason University, USA), Al Nahian Bin Emran (George Mason University, USA), Rajendra Paudyal (George Mason University, USA), Lisa Donnan (George Mason University, USA), and Duminda Wijesekera (George Mason University, USA)</h5>

                                                <h4 class="accepted-papers-title">Route Choice Prediction Through User Behavior Analysis: Towards Robustness Assessment Under External Perturbations</h4>
                                                <h5 class="accepted-papers-authors">Gustavo S&aacute;nchez (Karlsruhe Institute of Technology, Germany), Fatih &Uuml;nal (Karlsruhe Institute of Technology, Germany), and Alexandra Wins (Mercedes-Benz Tech Innovation GmbH, Germany)</h5>

                                                <h4 class="accepted-papers-title">Grid-Computer Symbiosis: Towards the Industrial Internet of Things</h4>
                                                <h5 class="accepted-papers-authors">Danielle McGuire (Duquesne Light Company, PA)</h5>

                                                <h4 class="accepted-papers-title">Space-Based Fog Computing Across LEO and MEO Constellations for On-Orbit Hypersonic Detection and Space Domain Awareness</h4>
                                                <h5 class="accepted-papers-authors">Jackson Artis (Cornell University, USA) and Gregory Falco (Cornell University, USA)</h5>

                                                <h4 class="accepted-papers-title">WaveVerif: Acoustic Side-Channel Based Verification of Robotic Workflows</h4>
                                                <h5 class="accepted-papers-authors">Zeynep Yasemin Erdogan (Newcastle University), Shishir Nagaraja (Newcastle University), Chuadhry Mujeeb Ahmed (Newcastle University), and Ryan Shah (Sapphire)</h5>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- IEEE HMD-SPiRiT 2025 Workshop Panel -->
                                    <div class="panel panel-elegant">
                                        <div class="panel-heading panel-heading-elegant" role="tab" id="heading-hmd" style="background: linear-gradient(135deg, #a18cd1 0%, #fbc2eb 100%);">
                                            <h4 class="panel-title panel-title-elegant">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-papers" href="#collapse-hmd" aria-expanded="false" aria-controls="collapse-hmd">
                                                    The 1st IEEE Workshop on Healthcare and Medical Device Security, Privacy, Resilience, and Trust (IEEE HMD-SPiRiT 2025)
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse-hmd" class="panel-collapse panel-collapse-elegant collapse" role="tabpanel" aria-labelledby="heading-hmd">
                                            <div class="panel-body panel-body-elegant">

                                                <h4 class="accepted-papers-title">AegisBlock: A Privacy-Preserving Medical Research Framework Using Blockchain</h4>
                                                <h5 class="accepted-papers-authors">Calkin Garg (Georgia Institute of Technology), Omar Rios Cruz (California State University, Stanislaus), Tessa E. Andersen (Brigham Young University), Gaby G. Dagher (Boise State University), Donald Winiecki (Boise State University), and Min Long (Boise State University)</h5>

                                                <h4 class="accepted-papers-title">Exploring Membership Inference Vulnerabilities in Clinical Large Language Models</h4>
                                                <h5 class="accepted-papers-authors">Alexander Nemecek (Case Western Reserve University, USA), Zebin Yun (Tel Aviv University, Israel), Zahra Rahmani (Case Western Reserve University, USA), Yaniv Harel (Tel Aviv University, Israel), Vipin Chaudhary (Case Western Reserve University, USA), Mahmood Sharif (Tel Aviv University, Israel), and Erman Ayday (Case Western Reserve University, USA)</h5>

                                                <h4 class="accepted-papers-title">Convergence of Operational Technology/Industrial Control Systems/Internet of Medical Things: Internet-Exposed Medical Device Threats</h4>
                                                <h5 class="accepted-papers-authors">J. Malakai Bailey (Alyn, Inc., USA), William Yurcik (Centers for Medicare &amp; Medicaid Services (CMS), USA), O. Sami Saydjari (Dartmouth College, USA), Rodolfo da Silva Avelino (Insper, Brazil), Jo&atilde;o Luisi Vieira (Insper, Brazil), Pedro Umbelino (Bitsight Technologies, USA), and Gregory Pluta (University of Illinois at Urbana-Champaign, USA)</h5>

                                                <h4 class="accepted-papers-title">Examining The CoVCues Dataset: Supporting COVID Infodemic Research Through A Novel User Assessment Study</h4>
                                                <h5 class="accepted-papers-authors">Shreetika Poudel (Northern Kentucky University, USA) and Ankur Chattopadhyay (Northern Kentucky University, USA)</h5>

                                                <h4 class="accepted-papers-title">Evaluating Security Features in Mobile Health Apps: A Systematic Review</h4>
                                                <h5 class="accepted-papers-authors">Yuanyuan Cao (University of Pittsburgh, USA), Yi Xu (University of Pittsburgh, USA), and Leming Zhou (University of Pittsburgh, USA)</h5>

                                                <h4 class="accepted-papers-title">A High-Assurance Systems Approach to Medical Device Security</h4>
                                                <h5 class="accepted-papers-authors">Daniel G Cole (University of Pittsburgh, PA) and William W Clark (University of Pittsburgh, PA)</h5>

                                                <h4 class="accepted-papers-title">An Unsupervised Domain Adaptation Method to Enhance Diagnostic Model Resilience on Heterogeneous Medical Imaging Data</h4>
                                                <h5 class="accepted-papers-authors">Zhiwei Gong (University of Pittsburgh, USA), Dooman Arefan (University of Pittsburgh, USA), Wendie A. Berg (University of Pittsburgh, USA), and Shandong Wu (University of Pittsburgh, USA)</h5>

                                                <h4 class="accepted-papers-title">Privacy at Scale in Networked Healthcare</h4>
                                                <h5 class="accepted-papers-authors">M. Amin Rahimian (University of Pittsburgh), Benjamin Panny (University of Pittsburgh), and James B.D. Joshi (University of Pittsburgh)</h5>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- QuILLS 2025 Workshop Panel -->
                                    <div class="panel panel-elegant">
                                        <div class="panel-heading panel-heading-elegant" role="tab" id="heading-quills" style="background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);">
                                            <h4 class="panel-title panel-title-elegant">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-papers" href="#collapse-quills" aria-expanded="false" aria-controls="collapse-quills">
                                                    The Second IEEE Workshop on Quantum Intelligence, Learning and Security (QuILLS 2025)
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse-quills" class="panel-collapse panel-collapse-elegant collapse" role="tabpanel" aria-labelledby="heading-quills">
                                            <div class="panel-body panel-body-elegant">

                                                <h4 class="accepted-papers-title">Architectural Approaches to Fault-Tolerant Distributed Quantum Computing and Their Entanglement Overheads</h4>
                                                <h5 class="accepted-papers-authors">Nitish Chandra (University of Pittsburgh, USA), Eneet Kaur (Cisco Quantum Lab, USA), and Kaushik Seshadreesan (University of Pittsburgh, USA)</h5>

                                                <h4 class="accepted-papers-title">Not All Qubits are Utilized Equally</h4>
                                                <h5 class="accepted-papers-authors">Jeremie Pope (Pennsylvania State University, USA) and Swaroop Ghosh (Pennsylvania State University, USA)</h5>

                                                <h4 class="accepted-papers-title">Quantum Heuristics for Linear Optimization over Large Separable Operators</h4>
                                                <h5 class="accepted-papers-authors">Ankith Mohan (Virginia Tech, USA), Tobias Haug (Technology Innovation Institute, UAE), Kishor Bharti (Agency for Science, Technology and Research, Singapore), and Jamie Sikora (Virginia Tech, USA)</h5>

                                                <h4 class="accepted-papers-title">Towards Quantum-Driven Multimodal Machine Learning: Methods, Challenges, and Future Directions</h4>
                                                <h5 class="accepted-papers-authors">Debashis Das (Meharry Medical College, USA), Jaclyn Claiborne (Meharry Medical College, USA), Lexus Brinkley-Tapp (Meharry Medical College, USA), Mikel Houston (Meharry Medical College, USA), Pushpita Chatterjee (Meharry Medical College, USA), and Uttam Ghosh (Meharry Medical College, USA)</h5>

                                                <h4 class="accepted-papers-title">Quantum-Resistant Networks Using Post-Quantum Cryptography</h4>
                                                <h5 class="accepted-papers-authors">Xin Jin (University of Pittsburgh, USA), Nitish Kumar Chandra (University of Pittsburgh, USA), Mohadeseh Azari (University of Pittsburgh, USA), Kaushik P. Seshadreesan (University of Pittsburgh, USA), and Junyu Liu (University of Pittsburgh, USA)</h5>

                                                <h4 class="accepted-papers-title">Towards Symmetry-Aware Efficient Simulation of Quantum Systems and Beyond</h4>
                                                <h5 class="accepted-papers-authors">Min Chen (University of Pittsburgh, USA), Minzhao Liu (University of Chicago, USA; Argonne National Laboratory, USA), Changhun Oh (Korea Advanced Institute of Science and Technology, Korea; University of Chicago, USA), Liang Jiang (University of Chicago, USA), Yuri Alexeev (Argonne National Laboratory, USA; NVIDIA Corporation, USA), and Junyu Liu (University of Pittsburgh, USA; University of Chicago, USA)</h5>

                                                <h4 class="accepted-papers-title">A Decentralized Framework for Auditing Large Language Model Reasoning</h4>
                                                <h5 class="accepted-papers-authors">Morris Yu-Chao Huang (University of North Carolina at Chapel Hill, USA), Zhen Tan (Arizona State University, USA), Mohan Zhang (University of North Carolina at Chapel Hill, USA), Pingzhi Li (University of North Carolina at Chapel Hill, USA), Zezhen Ding (The Hong Kong University of Science and Technology, China), Zhuo Zhang (Columbia University, USA), and Tianlong Chen (University of North Carolina at Chapel Hill, USA)</h5>

                                                <h4 class="accepted-papers-title">Perspective on AI-Empowered Design of Realistic Quantum Optical Device</h4>
                                                <h5 class="accepted-papers-authors">Chaohan Cui (University of Maryland, USA), Kailu Zhou (University of Michigan, USA), and Zheshen Zhang (University of Michigan, USA)</h5>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- IEEE DISTILL 2025 Workshop Panel -->
                                    <div class="panel panel-elegant">
                                        <div class="panel-heading panel-heading-elegant" role="tab" id="heading-distill" style="background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);">
                                            <h4 class="panel-title panel-title-elegant">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-papers" href="#collapse-distill" aria-expanded="false" aria-controls="collapse-distill">
                                                    IEEE Workshop on Distributed, Secure, and Trustworthy Intelligence with LLMs (IEEE DISTILL 2025)
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse-distill" class="panel-collapse panel-collapse-elegant collapse" role="tabpanel" aria-labelledby="heading-distill">
                                            <div class="panel-body panel-body-elegant">

                                                <h4 class="accepted-papers-title">Measuring Privacy Literacy on Generative AI: A Pilot Study of Generation Z</h4>
                                                <h5 class="accepted-papers-authors">Jing Hua (La Roche University, USA) and Wenli Wang (Robert Morris University, USA)</h5>

                                                <h4 class="accepted-papers-title">Detecting and Correcting Hallucinations in Paragraph-Level Text with Ensemble-Based Evaluation</h4>
                                                <h5 class="accepted-papers-authors">Shivangi Tripathi (Texas State University, USA) and Heena Rathore (Texas State University, USA)</h5>

                                                <h4 class="accepted-papers-title">Trustworthy LLM-Mediated Communication: Evaluating Information Fidelity in LLM as a Communicator (LAAC) Framework in Multiple Application Domains</h4>
                                                <h5 class="accepted-papers-authors">Mohammed Musthafa Rafi (Iowa State University, USA), Adarsh Krishnamurthy (Iowa State University, USA), and Aditya Balu (Iowa State University, USA)</h5>

                                                <h4 class="accepted-papers-title">Topic Modeling Analysis of Ethical Framework Separability in LLM-Generated Moral Justifications</h4>
                                                <h5 class="accepted-papers-authors">Bishal Thapa (Texas State University, TX) and Heena Rathore (Texas State University, TX)</h5>

                                                <h4 class="accepted-papers-title">The Mediating Role of Explainable AI on Phishing Susceptibility</h4>
                                                <h5 class="accepted-papers-authors">Masialeti Masialeti (Robert Morris University, USA) and Wenli Wang (Robert Morris University, USA)</h5>

                                                <h4 class="accepted-papers-title">Machine Learning-Based Frameworks for Malware Detection with SHAP Explainability</h4>
                                                <h5 class="accepted-papers-authors">Afia Darko Asante (The University of Akron, USA), Sumaila Iddrisu (The University of Akron, USA), and Nadhem Ebrahim (The University of Akron, USA)</h5>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- IEEE TPHAC 2025 Workshop Panel -->
                                    <div class="panel panel-elegant">
                                        <div class="panel-heading panel-heading-elegant" role="tab" id="heading-tphac" style="background: linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);">
                                            <h4 class="panel-title panel-title-elegant">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-papers" href="#collapse-tphac" aria-expanded="false" aria-controls="collapse-tphac">
                                                    IEEE Workshop on Trustworthy and Privacy-Preserving Human-AI Collaboration (IEEE TPHAC 2025)
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse-tphac" class="panel-collapse panel-collapse-elegant collapse" role="tabpanel" aria-labelledby="heading-tphac">
                                            <div class="panel-body panel-body-elegant">

                                                <h4 class="accepted-papers-title">RegEase: Simplifying Insurance Compliance</h4>
                                                <h5 class="accepted-papers-authors">Samhitha Poreddy (Verisk Analytics)</h5>

                                                <h4 class="accepted-papers-title">Backdoor-Aware Adaptive Aggregation for Wireless Ad Hoc Federated Learning</h4>
                                                <h5 class="accepted-papers-authors">Atsuya Muramatsu (The University of Tokyo, Japan) and Hideya Ochiai (The University of Tokyo, Japan)</h5>

                                                <h4 class="accepted-papers-title">Certified Attribute Privacy in GAN Latent Space</h4>
                                                <h5 class="accepted-papers-authors">Jamil Arbas (Toronto Metropolitan University, Canada), Shadan Ghaffaripour (Toronto Metropolitan University, Canada), and Ali Miri (Toronto Metropolitan University, Canada)</h5>

                                                <h4 class="accepted-papers-title">Voice Design and Trust in Automated Vehicles: Findings and a Research Agenda</h4>
                                                <h5 class="accepted-papers-authors">Jiongyu Chen (Arizona State University, USA) and Qiaoning Zhang (Arizona State University, USA)</h5>

                                                <h4 class="accepted-papers-title">The Role of Perceived Social Identity in Human-AI Collaboration</h4>
                                                <h5 class="accepted-papers-authors">Jessica K. Barfield (University of Kentucky, USA)</h5>

                                                <h4 class="accepted-papers-title">Quantifying Trust in Human-AI Teams: A Statistical Framework for Task-Based Calibration of AI Autonomy in Compliance Auditing</h4>
                                                <h5 class="accepted-papers-authors">Priya Mohan (Independent Researcher, USA), Yugandhar Reddy Suthari (University of the Cumberlands, USA), and Sahil Dhir (Independent Researcher, USA)</h5>

                                                <h4 class="accepted-papers-title">Uncertainty Quantification for Deep Learning-Based Medical Imaging Classification Model Evaluation and Individualized Risk Estimation</h4>
                                                <h5 class="accepted-papers-authors">Jiren Li (University of Pittsburgh, USA), Dooman Arefan (University of Pittsburgh, USA), and Shandong Wu (University of Pittsburgh, USA)</h5>

                                                <h4 class="accepted-papers-title">Multimodal Deep Fusion Architecture for Human Activity and Fall Detection in Elderly Care</h4>
                                                <h5 class="accepted-papers-authors">Debashis Das (Meharry Medical College, Nashville, TN, USA), Laure Bien Aime (Meharry Medical College, Nashville, TN, USA), Pushpita Chatterjee (Meharry Medical College, Nashville, TN, USA), and Uttam Ghosh (Meharry Medical College, Nashville, TN, USA)</h5>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div style="height: 30px; clear: both;"></div>
                        </div>
                    </div>
                    <!-- right panel begins -->
                    <div>
                        {% include sidebar1.html %}
                    </div>
                </div>
            </div>
        </div>

        <!--=== End Content ===-->


        <!--=== Footer ===-->
        {% include footer.html %}
        <!--=== End Footer ===-->

        <!--=== Scripts ===-->
        {% include scripts.html %}
        <!--=== End scripts ===-->
    </div>
</body>

</html>