---
title: "blank"
<!-- permalink: pretty -->
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    <title>IEEE CogMI 2026</title>
    {% include head.html %}
</head>

<body class="header-fixed">
    {% include banner.html %}
    <div class="wrapper" style="min-height: 800px">

        <div class="bg-color-light">

            <div class="breadcrumbs">
                <div class="container">
                    <h1 class="pull-left">Organizing Committees</h1>
                    <ul class="pull-right breadcrumb">
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li class="active">Organizers</li>
                    </ul>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <!-- Contents goes here -->
                    <div class="col-md-8"><!-- outter container  -->
                        <div class="news-v3-in">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="organizers">
                                        <h4 id="General">General Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://boldi.di.unimi.it/">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/paolo.jpg">Paolo Boldi</a>
                                                    <span class="affiliation">Università degli Studi di Milano, Italy</span>
                                                </div>
                                            </li>
                                        </ul>
                                        
                                        <h4 id="PC">Program Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://www.citystgeorges.ac.uk/about/people/academics/jialie-shen">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/jerry.jpg">Jerry Jialie Shen</a>
                                                    <span class="affiliation">University of London, UK</span>
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://people.cs.gmu.edu/~ashehu/">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/amarda.jpg">Amarda Shehu</a>
                                                    <span class="affiliation">George Mason University, USA</span>
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://reza.zafarani.net/">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/reza.jpg">Reza Zafarani</a>
                                                    <span class="affiliation">Syracuse University, USA</span>
                                                </div>
                                            </li>
                                        </ul>

                                        <h4 id="Industry">Industry/Government Chair</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://www.utech.edu.jm/academics/colleges-faculties/fenc/faculty-staff/jarrett-julian">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/julian.jpeg">Julian Jarrett</a>
                                                    <span class="affiliation">Lutron Electronics, USA</span>
                                                </div>
                                            </li>
                                        </ul>

                                        <h4 id="Finance">Finance Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://www.utech.edu.jm/academics/colleges-faculties/fenc/faculty-staff/jarrett-julian">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/julian.jpeg">Julian Jarrett</a>
                                                    <span class="affiliation">Lutron Electronics, USA</span>
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://www.engineering.pitt.edu/people/faculty/mai-abdelhakim/">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/mai.jpeg">Mai Abdelhakim</a>
                                                    <span class="affiliation">University of Pittsburgh, USA</span>
                                                </div>
                                            </li>
                                        </ul>

                                        <h4 id="Local">Local Arrangement Chair</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://webpages.scu.edu/ftp/hlu/">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/haibing.jpg">Haibing Lu</a>
                                                    <span class="affiliation">Santa Clara University, USA</span>
                                                </div>
                                            </li>
                                        </ul>

                                        <h4 id="Publicity">Publicity and Travel Grants Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://yanzhaowu.me/">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/yanzhao.jpg"> Yanzhao Wu</a>
                                                    <span class="affiliation">Florida International University, USA.</span>
                                                </div>
                                            </li>
                                        </ul>

                                        <h4 id="Web">Web Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://sites.pitt.edu/~peh53/">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/peilin.png">Peilin He</a>
                                                    <span class="affiliation">University of Pittsburgh, USA.</span>
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://lioutang.github.io/">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/liou.jpg">Liou Tang</a>
                                                    <span class="affiliation">University of Pittsburgh, USA.</span>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- right panel begins -->
                    <div>
                        {% include sidebar.html %}
                    </div>
                </div>

                <!-- end  -->
            </div>


            <!--=== Footer ===-->
            {% include footer.html %}
            <!--=== End Footer ===-->
        </div>

        <!--=== Scripts ===-->
        {% include scripts.html %}
        <!--=== End scripts ===-->
    </div>
</body>

</html>