---
title: "blank"
<!-- permalink: pretty -->
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    <title>IEEE RISC 2026</title>
    {% include head.html %}
</head>

<body class="header-fixed">
    {% include banner.html %}
    <div class="wrapper" style="min-height: 800px">

        <div class="bg-color-light">

            <div class="breadcrumbs">
                <div class="container">
                    <h1 class="pull-left">Technical Program Committee</h1>
                    <ul class="pull-right breadcrumb">
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <!-- <li><a href="">BLANK</a></li> -->
                        <li class="active">Program Committee</li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <!-- Contents goes here -->
                <div class="row">
                    <div class="col-md-8"><!-- outter container  -->
                        <div class="news-v3-in">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="organizers">
                                
                                        <h4>PC Co-Chairs</h4>
                                        <ul>
                                            <li><i>Mai Abdelhakim, University of Pittsburgh</i></li>
                                            <li><i>Robert K. Cunningham, University of Pittsburgh</i></li>
                                        </ul>

                                        <h4>Topic Area Chairs</h4>
                                        <ul>
                                            <li><i>Sylvain Costes, University of Pittsburgh</i></li>
                                        </ul>
                                
                                        <h4>PC Members</h4>
                                        <ul>
                                            <li><i>Brandon Bailey, The Aerospace Corporation</i></li>
                                            <li><i>Efrén López-Morales, New Mexico State University</i></li>
                                            <li><i>Sylvain Costes, University of Pittsburgh</i></li>
                                            <li><i>Richard W. Skowyra, MIT Lincoln Laboratory</i></li>
                                            <li><i>Lee Maccarone, Sandia National Laboratories</i></li>
                                            <li><i>Duminda Wijesekera, George Mason University</i></li>
                                            <li><i>Rishabh Das, Ohio University</i></li>
                                            <li><i>Ting Zhu, Ohio State University</i></li>
                                        </ul>

                                        <h5>More information to come.</h5>
                                
                                        <div style="height: 30px; clear: both;"></div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end inner container  -->
                     <!-- Sidebar -->
                    <div>
                        {% include sidebar.html %}
                    </div>
                </div>
            </div>
            <!--=== End Content ===-->


            <!--=== Footer ===-->
            {% include footer.html %}
            <!--=== End Footer ===-->
        </div>

        <!--=== Scripts ===-->
        {% include scripts.html %}
        <!--=== End scripts ===-->
    </div>
</body>

</html>