---
title: "Call for Full Papers pages"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>IEEE CogMI 2025</title>
    {% include head.html %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css?v={{ site.css_version }}">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->


        <div class="bg-color-light">

            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
            </div>
            <div class="breadcrumbs">
                <div class="container">
                    <h1 class="pull-left">Keynotes</h1>
                    <ul class="pull-right breadcrumb">
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li><a href="">Program</a></li>
                        <li class="active">Keynotes</li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <!-- Contents goes here -->
                    <div class="col-md-8"><!-- outter container  -->
                        <h3><strong>Day 1: Nov. 12th</strong></h3>
                        <!-- Norman -->
                        <div class="news-v3-in">
                            <h3 class="margin-bottom-5" style="margin-bottom: 0">
                                <strong>Title: Usable Privacy and Security in the Age of AI and the Internet of Things:
                                    A Multi-Disciplinary Perspective</strong>
                            </h3>
                            <h5>
                                <strong>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span>Norman Sadeh</span>
                                    <br>
                                    <em>
                                        <span class="glyphicon glyphicon-home"></span>
                                        <span>Professor</span>
                                        <span>Carnegie Mellon University, USA</span>
                                        <br>
                                        <span class="glyphicon glyphicon-link"></span>
                                        <a href="https://www.normsadeh.org/" target="_blank">Home Page
                                        </a>
                                        <br>
                                        <span><em> <strong>Day/Time for Keynote Speech:</strong> Nov. 12th</em></span>

                                    </em>
                                </strong>
                            </h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-left">
                                        <strong>Abstract: </strong> Artificial Intelligence and the Internet of Things
                                        are contributing to the collection and use of our data across ever more diverse
                                        scenarios. In the process they open the door to new privacy and security
                                        threats. Yet these technologies can also contribute to the development of
                                        solutions that help address these threats. Many of these threats have to do with
                                        the limitations we, humans, have when it comes to recognizing threats and
                                        protecting ourselves against them. This presentation will provide an overview of
                                        work in usable security and privacy over the past 15 years drawing on research
                                        conducted with my collaborators at Carnegie Mellon University. This will include
                                        our work on the development of privacy and security assistants, our work on
                                        privacy and security nudging, our work on semi-automated compliance analysis,
                                        and our recent work on user-oriented privacy threat modeling. I will further
                                        discuss our work on a privacy infrastructure for the internet of things and its
                                        deployment in smart cities. I will also share my experience integrating some of
                                        this research into our education programs at CMU, including our privacy
                                        engineering program, and discuss how our work has influenced developments in
                                        both industry and government over the years.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="../../../common/resources/images/norman.png" class="img-responsive"
                                        alt="Norman Sadeh">
                                </div>

                                <div class="col-md-9">
                                    <p class="text-left">
                                        <strong>Bio: </strong>
                                        Norman Sadeh (https://normsadeh.org) is a Professor in the School of Computer
                                        Science at Carnegie Mellon University (CMU). He co-founded and co-directs CMU’s
                                        Privacy Engineering Program, and also co-founded and for ten years co-directed
                                        CMU’s PhD Program in Societal Computing.

                                        Norman served as lead principal investigator on two of the largest US research
                                        projects in privacy, the Usable Privacy Policy Project
                                        (https://usableprivacy.org) and the Personalized Privacy Assistant Project
                                        (https://privacyassistant.org). He was also founding CEO and, until its
                                        acquisition by Proofpoint, chairman and chief scientist of Wombat Security
                                        Technologies, a company that defined the multi-billion dollar user-oriented
                                        cybersecurity market. Technologies Norman developed with colleagues at CMU and
                                        Wombat are used to protect tens of millions of users around the world against
                                        cybersecurity attacks such as phishing. Dr. Sadeh's privacy research has been
                                        credited with influencing the development of privacy-enhancing solutions at
                                        companies such as Apple, Google and Facebook, and results of his research have
                                        informed activities at regulatory agencies, including the Federal Trade
                                        Commission and the California Office of the Attorney General. In the late
                                        nineties Norman also served as Chief Scientist of the EUR 550 million European
                                        Union's e-Commerce initiative, which included all pan-European research in
                                        cybersecurity and privacy as well as contributions to several major European
                                        public policy initiatives.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!-- Ece -->
                        <div class="news-v3-in">
                            <h3 class="margin-bottom-5" style="margin-bottom: 0">
                                <strong>Title: AI Agents as the Next Frontier in AI</strong>
                            </h3>
                            <h5>
                                <strong>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span>Ece Kamar</span>
                                    <br>
                                    <em>
                                        <span class="glyphicon glyphicon-home"></span>
                                        <span>Distinguished Scientist, CVP and Managing Director, AI Frontiers</span>
                                        <span>Microsoft Research, USA</span>
                                        <br>
                                        <span class="glyphicon glyphicon-link"></span>
                                        <a href="https://www.microsoft.com/en-us/research/people/eckamar/"
                                            target="_blank">Home Page
                                        </a>
                                        <br>
                                        <span><em> <strong>Day/Time for Keynote Speech:</strong> Nov. 12th</em></span>
                                    </em>
                                </strong>
                            </h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-left">
                                        <strong>Abstract: </strong>
                                        While foundation models have revolutionized computing and beyond, the field is
                                        still grappling with creating high value applications that meet the reliability
                                        and safety requirements of the real world. In this talk, I will discuss the
                                        emergence of a new computing stack grounded on foundation models to power a new
                                        generation of AI applications called AI agents. My team at Microsoft Research
                                        has been at the forefront of the agentic developments with our work on AutoGen,
                                        MagenticOne, Phi, Orca and OmniParser models and I will share learnings with
                                        respect to the future of agentic AI. The talk will conclude with a discussion of
                                        the new opportunities and risks introduced by the emerging agent stack.


                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="../../../common/resources/images/ece.jpg" class="img-responsive"
                                        alt="Ece Kamar">
                                </div>

                                <div class="col-md-9">
                                    <p class="text-left">
                                        <strong>Bio: </strong>
                                        Ece Kamar is the Managing Director of AI Frontiers, leading research and
                                        development towards pushing the frontiers of AI capabilities. AI Frontiers is a
                                        non-geographical, mission-focused lab inside Microsoft Research that explores
                                        innovations in foundation models and platform capabilities to push the frontier
                                        of AI capabilities, efficiency and control.

                                        Ece’s personal research focuses on developing AI systems that can function
                                        reliably in the open world in collaboration with people. She has a decade of
                                        experience studying the impact of AI on society and developing AI systems that
                                        are reliable, unbiased and trustworthy. She has been instrumental in building
                                        the Responsible AI efforts inside Microsoft. She serves as Technical Advisor for
                                        Microsoft’s Internal Committee on AI, Engineering and Ethics.

                                        Ece is also an Affiliate Faculty with the University of Washington.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h3><strong>Day 2: Nov. 13th</strong></h3>
                        <!-- Huan -->
                        <div class="news-v3-in">
                            <h3 class="margin-bottom-5" style="margin-bottom: 0">
                                <strong>Title: Ceaseless Inquiries: Lesson Learned from Social Media Mining</strong>
                            </h3>
                            <h5>
                                <strong>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span>Huan Liu</span>
                                    <br>
                                    <em>
                                        <span class="glyphicon glyphicon-home"></span>
                                        <span>Regents Professor,</span>
                                        <span>Arizona State University, USA</span>
                                        <br>
                                        <span class="glyphicon glyphicon-link"></span>
                                        <a href="https://search.asu.edu/profile/255975" target="_blank">Home Page
                                        </a>
                                        <br>
                                        <span><em> <strong>Day/Time for Keynote Speech:</strong> Nov. 13th</em></span>
                                    </em>
                                </strong>
                            </h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-left">
                                        <strong>Abstract: </strong>
                                        We present emerging opportunities in AI and Big Data, through the lens of social media. Generative AI, in particular,
                                        Large Language Models (LLMs), has added new challenges. We use examples to illustrate (1) fundamental problems
                                        associated with multi-modal data like social media, challenging common practice and existential understanding in machine
                                        learning and data mining, (2) how we embrace the power of LLMs to solve perplexing problems, and (3) developing novel
                                        algorithms for understanding LLMs. Seeking interdisciplinary collaborations, we contemplate the promising future of
                                        social media mining in the rapid development of AI.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="../../../common/resources/images/huanliu.jpg" class="img-responsive"
                                        alt="Huan Liu">
                                </div>

                                <div class="col-md-9">
                                    <p class="text-left">
                                        <strong>Bio: </strong>
                                        Dr. Huan Liu is a Regents Professor and Ira A. Fulton Professor of Computer
                                        Science and Engineering at Arizona State University. He is the recipient of
                                        the ACM SIGKDD 2022 Innovation Award for his outstanding contributions to
                                        the foundation, principles, and applications of social media mining and
                                        feature selection for data Mining. He co-authored the textbook, Social Media
                                        Mining: An Introduction, by Cambridge University Press. He is Editor in
                                        Chief of ACM TIST, Founding Field Chief Editor of Frontiers in Big Data, and
                                        a founding organizer of the International Conference Series on Social
                                        Computing, Behavioral-Cultural Modeling, and Prediction. He is a Fellow of
                                        ACM, AAAI, AAAS, and IEEE.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!-- Dimitrios -->
                        <div class="news-v3-in">
                            <h3 class="margin-bottom-5" style="margin-bottom: 0">
                                <strong>Title: From a digital manufacturing vision to improving industrial productivity
                                    and resilience via digital
                                    twins, dependency-aware AI, and co-creation with the industry</strong>
                            </h3>
                            <h5>
                                <strong>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span>Dimitrios Georgakopoulos</span>
                                    <br>
                                    <em>
                                        <span class="glyphicon glyphicon-home"></span>
                                        <span>Director, ARC Industrial Trasformation Research Hub for Future Digital
                                            Manufacturing, AU</span><br>
                                        <span>Professor, Swinburne University, AU</span>
                                        <br>
                                        <span class="glyphicon glyphicon-link"></span>
                                        <a href="https://experts.swinburne.edu.au/2784-dimitrios-georgakopoulos"
                                            target="_blank">Home Page
                                        </a>
                                        <br>
                                        <span><em> <strong>Day/Time for Keynote Speech:</strong> Nov. 13th</em></span>
                                    </em>
                                </strong>
                            </h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-left">
                                        <strong>Abstract: </strong>
                                        Digital Manufacturing aims to make the industry more productive, resilient, and
                                        globally competitive than ever by
                                        improving production efficiency, enhancing product quality, eliminating
                                        unplanned maintenance, and reducing energy use.
                                        To achieve this, we are working together with the industry to develop advanced
                                        digital-twins, AI, platform solutions,
                                        and a variety of adoption/commercialization pathways that will shape the future
                                        of manufacturing. In this talk we focus
                                        on the development of advanced digital twins for representing complex
                                        interconnected physical entities in manufacturing,
                                        which include sophisticated industrial machines, materials and products, and
                                        people involved in production. To achieve
                                        dramatic productivity and resilience improvements we devise AI/ML models for
                                        digital manufacturing that seamlessly
                                        interact with industrial digital twins to get the information they need and
                                        become aware of the physical constraints and
                                        other data dependencies in the production environment, and use these to optimize
                                        production outcomes, predict production
                                        issues (such as inefficiencies, product inconsistencies, unplanned maintenance
                                        issues) before they occur, and correct
                                        them before they affect production outcomes. We discuss the development of a
                                        novel digital manufacturing platform for
                                        reducing the cost and effort of developing digital manufacturing applications by
                                        supporting the open development, easy
                                        combination and complete lifecycle management of such digital twins and
                                        dependency-aware AI/ML models. We present
                                        examples of digital manufacturing solution from over thirty digital
                                        manufacturing projects we have conducted together
                                        with industry partners in a variety of sectors ranging from food to steel and
                                        composites, and tools and vehicles. More
                                        importantly, we outline the unique research challenges, opportunities, and
                                        directions for digital twin and AI research
                                        that can transform the industry and outline the role of a research/industry
                                        consortium such as the ARC Digital
                                        Manufacturing Hub plays in achieving that.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="../../../common/resources/images/Dimitrios.png" class="img-responsive"
                                        alt="Dimitrios Georgakopoulos">
                                </div>

                                <div class="col-md-9">
                                    <p class="text-left">
                                        <strong>Bio: </strong>
                                        Dimitrios Georgakopoulos is the Director of the Australian Research Council’s
                                        (ARC’s) Digital Manufacturing Research Hub
                                        (which is, an Australian Industrial Transformation Research consortium of seven
                                        universities, twenlve companies, and the
                                        ARC), and Computer Science Professor at Swinburne University of Technology in
                                        Melbourne, Australia. Before that he was
                                        Research Director at the ICT Centre of the Commonwealth Scientific and
                                        Industrial Research Organization’s (Australia's
                                        national research agency’s), where he led Australia’s largest Computer Science
                                        research program, and a Professor at RMIT
                                        University. Earlier, Dimitrios held senior research and management positions in
                                        major industrial laboratories in the
                                        USA, including Telcordia Technologies; Microelectronics and Computer Corporation
                                        (MCC); GTE Laboratories/Verizon; and
                                        Bell Communications Research (Bellcore). Dimitrios has authored 325 articles in
                                        IoT, AI, process automation, and data
                                        management that have received more than 24,250 citations. According to
                                        Elsevier’s science-wide author databases of
                                        standardized citation indicators, he is in the 2% of top-cited authors globally
                                        (top 1% if self-citations are excluded)
                                        in both career and 2024 rankings. His research has attracted $77M of external
                                        research grants/contracts. He also led
                                        major cross-disciplinary research initiatives in social services, digital
                                        agriculture, water management, and defense
                                        that received over $100M of research funding from the Australian and US
                                        governments. Dimitrios has received 18 awards
                                        that include, 2023 National iAward for Government & Public Sector Solution of
                                        Year from the Australian Information
                                        Industry Association’s, several best paper awards in CORE A*/A flagship
                                        conferences, the 2018 Vice-Chancelor’s Research
                                        award, and several industry awards that include the 2013 Black Duck Open Source
                                        Rookie of the Year Award.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h3><strong>Day 3: Nov. 14th</strong></h3>
                        <!-- Bhavani -->
                        <div class="news-v3-in">
                            <h3 class="margin-bottom-5" style="margin-bottom: 0">
                                <strong>Title: Artificial Intelligence for Transportation Systems Security and Resiliency</strong>
                            </h3>
                            <h5>
                                <strong>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span>Bhavani Thuraisingham</span>
                                    <br>
                                    <em>
                                        <span class="glyphicon glyphicon-home"></span>
                                        <span>Professor</span>
                                        <span>University of Texas at Dallas, USA</span>
                                        <br>
                                        <span class="glyphicon glyphicon-link"></span>
                                        <a href="https://personal.utdallas.edu/~bhavani.thuraisingham/"
                                            target="_blank">Home Page
                                        </a>
                                        <br>
                                        <span><em> <strong>Day/Time for Keynote Speech:</strong> Nov. 14th</em></span>
                                    </em>
                                </strong>
                            </h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-left">
                                        <strong>Abstract: </strong>Artificial Intelligence (AI) techniques ae being applied to numerous applications from
                                        Healthcare to Cyber Security to Finance. For example, Machine Learning (ML) algorithms are being applied to solve
                                        security problems such as malware analysis and insider threat detection. However, there are many challenges in applying
                                        ML algorithms for various applications. For example, (i) the ML algorithms may be subject to cyber-attacks and (ii) they
                                        may violate the privacy of individuals. This is because we can gather massive amounts of data and apply ML algorithms on
                                        the data to extract highly sensitive information. Also, the attacks to the ML algorithms could result in catastrophic
                                        errors including in cyber physical systems such as transportation systems. The ML algorithms have to be resilient and
                                        recover from faults, malicious or otherwise. In addition to machine learning, the Generative AI (GenAI) systems may also
                                        be subject to attacks. On the other hand, both ML and GenAI algorithms could enhance the security of transportation
                                        systems.
                                    </p>
                                    <p class="text-left">
                                        In this presentation, we discuss our research we are conducting as part of the USDOT National University Technology
                                        Center <strong>TraCR</strong> (<strong>Tra</strong>nsportation <strong>C</strong>ybersecurity and
                                        <strong>R</strong>esiliency)
                                        led by Clemson University. In particular, we describe (i) the
                                        application of federated machine learning techniques for detecting attacks in transportation systems; (ii) publishing
                                        synthetic transportation data sets that preserves privacy, (iii) developing resiliency solutions for transportation
                                        systems to recover from malicious attacks, (iv) examining how GenAI systems are being integrated with transportation
                                        systems to provide security, and (v) improving the accuracy of the data to transportation systems that ensure integrity.
                                        Finally we discuss how the various features such as security, privacy, and integrity could be integrated so that robust
                                        transportation systems are developed.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="../../../common/resources/images/bhavani.jpg" class="img-responsive"
                                        alt="Bhavani Thuraisingham">
                                </div>

                                <div class="col-md-9">
                                    <p class="text-left">
                                        <strong>Bio: </strong>
                                        Dr. Bhavani Thuraisingham is the Founders Chair Professor of Computer Science and the Founding Executive Director of the
                                        Cyber Security Research and Education Institute at the University of Texas at Dallas (UTD). She is an elected Fellow of
                                        the ACM, IEEE, the AAAS, and the NAI. Her research interests are integrating cyber security and artificial
                                        intelligence/data science including as they relate to the cloud, IoT, and Transportation Systems. She has received
                                        several technical, education and leadership awards including the IEEE CS 1997 Edward J. McCluskey Technical Achievement
                                        Award, the IEEE CS 2023 Taylor L. Booth Education Award, ACM SIGSAC 2010 Outstanding Contributions Award, the IEEE
                                        Comsoc Communications and Information Security 2019 Technical Recognition Award, the IEEE CS Services Computing 2017
                                        Research Innovation Award, the ACM CODASPY 2017 Lasting Research Award, and the ACM SACMAT 10 Year Test of Time Awards
                                        in 2018 and 2019 (for papers published in 2008 and 2009). Her 45 year career includes industry (Honeywell), federal
                                        research laboratory (MITRE), US government (NSF) and US Academia. Her work has resulted in 140+ journal articles, 300+
                                        conference papers, 200+ keynote and featured addresses, seven US patents, sixteen books, and over 120+ panel
                                        presentations including at Fortune Media, Lloyds of London Insurance, Dell Technologies World, United Nations, and the
                                        White House Office of Science and Technology Policy. She has also written opinion columns for popular venues such as the
                                        New York Times, Inc. Magazine, Womensday.com and the Legal 500, She received her PhD from the University of Wales,
                                        Swansea, UK, and the prestigious earned higher doctorate (D. Eng) from the University of Bristol, UK. She also has a
                                        Certificate in Public Policy Analysis from the London School of Economics and Political Science. She has been featured
                                        in the book by the ACM in 2024 titled: “Rendering History: The Women of ACM-W” as one of the 30+ “Women that Changed the
                                        Face of World Wide Computing Forever.”
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!-- Sergie -->
                        <div class="news-v3-in">
                            <h3 class="margin-bottom-5" style="margin-bottom: 0">
                                <strong>Title: Practical Considerations for Differential Privacy and what it means for LLMs</strong>
                            </h3>
                            <h5>
                                <strong>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span>Sergei Vassilvitskii</span>
                                    <br>
                                    <em>
                                        <span class="glyphicon glyphicon-home"></span>
                                        <span>Distinguished Scientist & Senior Research Director</span>
                                        <span>Google (New York), USA</span>
                                        <br>
                                        <span class="glyphicon glyphicon-link"></span>
                                        <a href="https://theory.stanford.edu/~sergei/"
                                            target="_blank">Home Page
                                        </a>
                                        <br>
                                        <span><em> <strong>Day/Time for Keynote Speech:</strong> Nov. 14th</em></span>
                                    </em>
                                </strong>
                            </h5>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-left">
                                        <strong>Abstract: </strong>Differential privacy is the gold standard for statistical data release. Used by governments,
                                        companies, and academics, its mathematically rigorous guarantees and worst-case assumptions on the strength and
                                        knowledge of attackers make it a robust and compelling framework for reasoning about privacy. However, even with
                                        landmark successes, differential privacy has not achieved widespread adoption in everyday data use and data protection.
                                        In this talk we examine some of the practical obstacles that stand in the way and how LLMs can help.
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="../../../common/resources/images/sergei.png" class="img-responsive"
                                        alt="Sergei Vassilvitskii">
                                </div>

                                <div class="col-md-9">
                                    <p class="text-left">
                                        <strong>Bio: </strong>
                                        Sergei Vassilvitskii is a Distinguished Scientist and Senior Research Director at Google New York. His interests span
                                        all aspects of data systems: from algorithms and paradigms for data processing, to user privacy and legal rubrics for
                                        data protection. His work has won several best paper awards and has been presented to international regulators and other
                                        government stakeholders.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- right panel begins -->
                    <div>
                        {% include sidebar1.html %}
                    </div>
                </div>
            </div>
            <!-- end  -->
        </div>
        <!--=== Footer ===-->
        {% include footer.html %}
        <!--=== End Footer ===-->

        <!--=== Scripts ===-->
        {% include scripts.html %}
        <!--=== End scripts ===-->
    </div>
</body>

</html>