<div class="footer-v1">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        2025 &copy; <a href="#">IEEETPS</a> All Rights Reserved.
                    </p>
                    <p>
                        Thanks for the template provider <a href="https://github.com/Chandler-He/acmsigir2020.git">ACMSIGIR</a>
                    </p>
                </div>

                <!-- Social Links -->
                <div class="col-md-6">
                    <ul class="footer-socials list-inline">
                        <li>
                            <a href="https://www.facebook.com/groups/516188955209479" class="tooltips" data-toggle="tooltip" data-placement="top" title=""
                                data-original-title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Social Links -->
            </div>
        </div>
    </div>
    <!--/copyright-->
</div>