---
title: "blank"
<!-- permalink: pretty -->
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    <title>IEEE CIC 2025</title>
    {% include head.html %}
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        



        <div class="bg-color-light">
            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
            </div>
            <div class="breadcrumbs">
                <div class="container">
                    <h1 class="pull-left">Technical Program Committee</h1>
                    <ul class="pull-right breadcrumb">
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <!-- <li><a href="">BLANK</a></li> -->
                        <li class="active">Program Committee</li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <!-- Contents goes here -->
                <div class="row">
                    <div class="col-md-9"><!-- outter container  -->
                        <div class="news-v3-in">
                            <div class="row">
                                <!-- <div class="col-md-3">
                                    <ul class="no-padding margin-left-10 organizers-type-list hidden-xs"
                                        id="sidebar-nav">
                                        

                                        <li class=""><a href="#CogMIGovernment/IndustryTrack">CogMI Government/Industry
                                                Track</a></li>
                                        <li class=""><a href="#CogMIVision">CogMI-Vision</a></li>
                                        <li class=""><a href="#IEEECogMI2024Round1">IEEE CogMI 2024 Round 1</a></li>
                                        <li class=""><a href="#IEEECogMI2024Round2">IEEE CogMI 2024 Round 2</a></li>


                                    </ul>
                                </div> -->
                                <div class="col-md-12">
                                    <div id="organizers">
                                
                                        <h4 id="TPS2025ProgramCommittee">2025 IEEE CIC Technical Program Committee</h4>
                                
                                        <h5>PC Co-Chairs</h5>
                                        <ul>
                                            <li><i>Wenqi Wei, Fordham University</i></li>
                                            <li><i>Haibing Lu, Santa Clara University</i></li>
                                            <li><i>Barbara Carminati, University of Insubria</i></li>
                                        </ul>
                                
                                        <h5>PC Members</h5>
                                        <ul>
                                            <li><i>Elisa Bertino, Purdue University</i></li>
                                            <li><i>Youna Jung, Northeastern University</i></li>
                                            <li><i>Christian Rondanini, Insubria University</i></li>
                                            <li><i>Shijun Liu, School of Computer Science and Technology, Shandong University, Jinan, 250100, China</i></li>
                                            <li><i>Hossein Shirazi, San Diego State University</i></li>
                                            <li><i>Shantanu Sharma, New Jersey Institute of Technology</i></li>
                                            <li><i>Fahad Saeed, Florida International University (FIU)</i></li>
                                            <li><i>Chao Li, Beijing Jiaotong University</i></li>
                                            <li><i>Shuya Feng, (no affiliation provided)</i></li>
                                            <li><i>Taghi Khoshgoftaar, Florida Atlantic University</i></li>
                                            <li><i>Pietro Colombo, Università dell'Insubria</i></li>
                                        </ul>
                                
                                        <div style="height: 30px; clear: both;"></div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end inner container  -->
                     <!-- Sidebar -->
                    <div>
                        {% include sidebar.html %}
                    </div>
                </div>
            </div>
            <!--=== End Content ===-->


            <!--=== Footer ===-->
            {% include footer.html %}
            <!--=== End Footer ===-->
        </div>

        <!--=== Scripts ===-->
        {% include scripts.html %}
        <!--=== End scripts ===-->

</body>

</html>