<!-- right panel begins -->
<div class="col-md-3" style="margin-top: 2%; margin-right: 2%;"><!-- right panel  -->
    <!-- ===== social media icons START -->
    <div class="tile">
        <!-- <a class="btn-u btn-u-aqua btn-u-xs" href="https://twitter.com/sigir2020"
            alt="sigir2020 @sigir2020 Twitter profile" target="_blank" style="margin-left: 5%;"><i class="fa fa-twitter"></i>
            Follow us on Twitter.</a> -->
        <a class="btn-u btn-u-dark-blue btn-u-xs"
            href="https://www.facebook.com/groups/516188955209479/" alt="cic2025 facebook profile"
            target="_blank" style="margin-left: 0%;"><i class="fa fa-facebook"></i>
            Follow us on Facebook.</a>
    </div>
    <!-- <div class="tile">
        <a class="twitter-timeline" href="https://twitter.com/sigir2020" height="650">Tweets by
            sigir2020</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div> -->
    <!-- ===== social media icons END -->
    <hr>
    <div class="links">
        <h4>Co-located Conferences</h4>
        <ul>
            <!-- <li>
                <a href="http://www.sis.pitt.edu/lersais/conference/cic/2025/" target="_blank">
                    <span style='font-size:20px;'>&#128206;
                    The 11<sup>th</sup> IEEE International Conference on Collaboration and Internet Computing (IEEE CIC 2025)</span>
                </a>
            </li> -->
            <li>
                <a href="http://www.sis.pitt.edu/lersais/conference/cic/2025/" target="_blank">

                    &#128206; The 11<sup>th</sup> IEEE International Conference on Collaboration and
                    Internet Computing (IEEE CIC 2025)

                </a>
            </li>
            <li>
                <a href="http://www.sis.pitt.edu/lersais/conference/tps/2025/" target="_blank">

                    &#128206; The 7<sup>th</sup> IEEE International Conference on Trust, Privacy and
                    Security in Intelligent Systems, and Applications (IEEE TPS 2025)
                </a>
            </li>
            <li>
                <a href="http://www.sis.pitt.edu/lersais/conference/cogmi/2025/" target="_blank">

                    &#128206; The 7<sup>th</sup> IEEE International Conference on Cognitive Machine
                    Intelligence (IEEE CogMI 2025)
                </a>
            </li>
        </ul>
    </div>

    <!-- <div class="tile"> -->
    <div class="links">

        <h4>Co-located Workshops</h4>
        <ul>

            <!-- <li>
                    <a href="https://www.waam.me/2023/WAAM2023.pdf" target="_blank">
                        <p>
                            <span class="glyphicon glyphicon-link"></span>
                            <span>The Second IEEE International Workshop on Assured Autonomy, AI and Machine Learning (WAAM 2023)</span>
                        </p>
                    </a>
                </li> -->
            <li>
                <a href="" target="_blank">
                    &#128206; TBA
                </a>
            </li>

            <!-- <li>
                <a href="" target="_blank">
                    &#128206; TBA
                </a>
            </li>

            <li>
                <a href="" target="_blank">
                    &#128206; TBA
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    &#128206; TBA
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    &#128206; TBA
                </a>
            </li>
            <li>
                <a href="" target="_blank">
                    &#128206; TBA
                </a>
            </li> -->
        </ul>
        <br>
    </div>

    <!-- sponsors  -->
    <div class="links">
        <h4>Financial Sponsors</h4>
        <ul>
            <!-- <li>
                <a href="http://www.sis.pitt.edu/lersais/conference/cic/2025/" target="_blank">
                    <span style='font-size:20px;'>&#128206;
                    The 11<sup>th</sup> IEEE International Conference on Collaboration and Internet Computing (IEEE CIC 2025)</span>
                </a>
            </li> -->
            <li>
                <img class="img-responsive" src="../assets/img/logos/ieee.gif"
                    style="width: 100%; margin-top: 10%;">
            </li>
            <hr>
            <li>
                <img class="img-responsive" src="../assets/img/logos/ieee_cs.png"
                    style="width: 100%; margin-top: 10%;">
            </li>
            <br>
        </ul>
        <hr>
        <h4> Platinum Corporate Sponsors</h4>
        <ul>
            <li>
                <img class="img-responsive" src="../assets/img/logos/pitt_sci_logo.png"
                    style="width: 100%; margin-top: 10%;">
            </li>
        </ul>
    </div>
    <!-- sponsor ends -->

</div>