---
title: "Call for Full Papers pages"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>IEEE TPS 2025</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->
        

        <div class="bg-color-light">

            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
            </div>
            <div class="breadcrumbs">
                <div class="container">
                    <h1 class="pull-left">Call For Papers</h1>
                    <ul class="pull-right breadcrumb">
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li><a href="">Submit</a></li>
                        <li class="active">Call For Papers</li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <!-- Contents goes here -->
                    <div class="col-md-8"><!-- outter container  -->
                        <div class="news-v3-in">

                            <h2 class="margin-bottom-5" style="margin-bottom: 0">
                                <strong>IEEE CogMI 2025 Call for Papers</strong>
                            </h2>

                            <h4 class="margin-bottom-5"><strong>Important dates:</strong></h4>

                            <div class="row">
                                <div class="col-lg-12">
                                    <h4 style="color: brown;">Round 1 Submission Dates:</h4>
                                    <ul class="list-group">
                                        <li class="list-group-item list-group-item-info">Time Zone
                                            <span class="badge">Anywhere on Earth</span>
                                        </li>
                                        <li class="list-group-item list-group-item-warning">Submission Deadline
                                            <span class="badge">June 21, 2025</span>
                                        </li>
                                        <li class="list-group-item list-group-item-success">Notification of Acceptance
                                            Date
                                            <span class="badge">July 21, 2025</span>
                                        </li>
                                        <!-- <li class="list-group-item list-group-item-info">Camera Ready Due
                                            <span class="badge">TBD</span>
                                        </li> -->
                                    </ul>
                                </div>
                            </div>


                                    <p>
                                        Recent advances in computing and information technologies such as IoT, mobile
                                        Edge/Cloud computing, cyber-physical-social systems,
                                        Artificial Intelligence / Machine Learning / Deep Learning, etc., have paved way
                                        for creating next generation smart and intelligent systems and applications
                                        that can have transformative impact in our society while accelerating rapid
                                        scientific discoveries and innovations.
                                        Such newer technologies and paradigms are getting increasingly embedded in the
                                        computing platforms and networked information systems/infrastructures that
                                        form the digital foundation for our personal, organizational and social
                                        processes and activities. It is increasingly becoming critical that the trust,
                                        privacy and security issues in such digital environments are holistically
                                        addressed to ensure the safety and well-being of individuals as well as our
                                        society.
                                    </p>
                                    <p class="text-justify">
                                        IEEE TPS-ISA is an international multidisciplinary forum for presentation of
                                        state-of-the art innovations, and discussion among academic,
                                        industrial researchers, and practitioners on issues related to trust, privacy
                                        and security in emerging smart and intelligent systems and applications.
                                    </p>


                                    <hr>
                                    <h2 class="margin-bottom-5" style="margin-bottom: 0"><strong>Submission
                                            Guidelines</strong></h2>
                                    <p class="margin-top-0">
                                    </p>
                                    <ul>
                                        <li>
                                            <strong>Research Track Paper Submission</strong>
                                            <p>
                                                We invite original research papers that have not been previously
                                                published and
                                                are not
                                                currently under review for publication elsewhere.
                                                Papers submitted to <strong>Research</strong> track should be up to 10
                                                pages in the standard two column IEEE proceedings format,
                                                which can be found at
                                                <a href="https://www.ieee.org/conferences_events/conferences/publishing/templates.html"
                                                    target="_blank">IEEE Manuscript Templates for Conference Proceedings
                                                </a>.
                                                The papers should be submitted at the research track of the conference
                                                in
                                                <a href="https://easychair.org/conferences/?conf=ieeetps2025"
                                                    target="_blank">EasyChair</a>.
                                            </p>
                                        </li>
                                        <li>
                                            <strong>Vision Track Paper Submission</strong>
                                            <p>
                                                We invite original research vision papers that have not been previously
                                                published and are not currently under review for publication elsewhere.
                                                Vision
                                                contributions should focus on blue-sky ideas and research vision in the
                                                area
                                                that at least one of the lead senior authors are known for. Vision paper
                                                can be
                                                as short as 2 pages but should be no longer than 10 pages in the
                                                standard two
                                                column IEEE proceedings format,
                                                which can be found at
                                                <a href="https://www.ieee.org/conferences_events/conferences/publishing/templates.html"
                                                    target="_blank">IEEE Manuscript Templates for Conference Proceedings
                                                </a>.
                                                The papers should be submitted at the vision track of the conference in
                                                <a href="https://easychair.org/conferences/?conf=ieeetps2025"
                                                    target="_blank">EasyChair</a>.
                                            </p>
                                        </li>
                                        <li>
                                            <strong>Industry/Government Paper Submission</strong>
                                            <p>
                                                We invite original industry papers that have not been previously
                                                published and
                                                are not currently under review for publication elsewhere. At least one
                                                co-author
                                                must be affiliated with industry or Government organizations, such as
                                                labs in
                                                DoE, DoD, NIH, NSA Labs. Papers submitted to Regular or Industry/Gov
                                                track
                                                should be no longer than 10 pages in the standard two column IEEE
                                                proceedings
                                                format,
                                                <a href="https://www.ieee.org/conferences_events/conferences/publishing/templates.html"
                                                    target="_blank">IEEE Manuscript Templates for Conference Proceedings
                                                </a>.
                                                The papers should be submitted at the industry/gov track of the
                                                conference in
                                                <a href="https://easychair.org/conferences/?conf=ieeetps2025"
                                                    target="_blank">EasyChair</a>.
                                                <!-- Paper submissions need not be anonymized. -->
                                            </p>
                                        </li>
                                    </ul>
                                    <hr>
                                    <h2 class="margin-bottom-5"><strong>Workshops Proposals</strong></h2>
                                    <p class="text-justify">
                                        Proposals for half-day or full day workshops that focus on IEEE TPS 2025 related
                                        themes are solicited.
                                        Workshop proposals should be at most 6 pages, including a biographical sketch of
                                        each instructor,
                                        and submitted to the <a
                                            href="https://easychair.org/conferences/?conf=ieeetps2025"
                                            target="_blank">EasyChair</a>.
                                    </p>
                                    <hr>
                                    <h2 class="margin-bottom-5"><strong>Panels Proposals</strong></h2>
                                    <p class="text-justify">
                                        Proposals for panel discussions that focus on future visions relevant to
                                        <strong>Trust, Privacy and Security</strong> are preferred.
                                        Potential panel organizers should submit a panel proposal of at most three
                                        pages, including biographical sketches of the
                                        proposed panelists and questions to be asked to the Executive Chairs.
                                    </p>
                                    <hr>
                                    <h2 class="margin-bottom-5"><strong>Tutorials Proposals</strong></h2>
                                    <p class="text-justify">
                                        Proposals for full and half-day tutorials are solicited. Tutorials are intended
                                        to enhance the technical program, and as such they should be
                                        relevant to the conference related themes. Potential tutorial presenters should
                                        submit a tutorial proposal of at most three pages, including:
                                        description of potential audience and background knowledge expected from the
                                        audience, if any; tutorial description; biographical sketch(s) of
                                        presenter(s).
                                    </p>

                                    <hr>
                                    <h2 class="margin-bottom-5"><strong>Review Policy</strong></h2>
                                    <p class="text-justify">
                                        IEEE Policy and professional ethics require that referees treat the contents of
                                        papers
                                        under
                                        review as privileged information not to be disclosed to others before
                                        publication. It is
                                        expected that no one with access to a paper under review will make any
                                        inappropriate use
                                        of
                                        the special knowledge, which that access provides. Contents of abstracts
                                        submitted to
                                        conference program committees should be regarded as privileged as well, and
                                        handled in
                                        the
                                        same manner. The Conference Publications Chair shall ensure that referees adhere
                                        to this
                                        practice.
                                    </p>
                                    <p class="text-justify">
                                        Organizers of IEEE conferences are expected to provide an appropriate forum for
                                        the oral
                                        presentation and discussion of all accepted papers. An author, in offering a
                                        paper for
                                        presentation at an IEEE conference, or accepting an invitation to present a
                                        paper, is
                                        expected to be present at the meeting to deliver the paper. In the event that
                                        circumstances
                                        unknown at the time of submission of a paper preclude its presentation by an
                                        author, the
                                        program chair should be informed on time, and appropriate substitute
                                        arrangements should
                                        be
                                        made. In some cases it may help reduce no-shows for the Conference to require
                                        advance
                                        registration together with the submission of the final manuscript.
                                    </p>

                                    <hr>
                                    <h2 class="margin-bottom-5" style="margin-bottom: 0"><strong>List of Topics</strong>
                                    </h2>
                                    <p class="margin-top-0">Topics of interest include, <strong>but are not limited
                                            to</strong>:</p>
                                    <blockquote class="hero margin-bottom-50">
                                        <ul>
                                            <li>Foundational, theoretical models for trust, privacy and security in
                                                emerging applications</li>
                                            <li>Trusted AI, Machine Learning and Deep Learning</li>
                                            <li>Privacy preserving Machine Learning and Deep Learning</li>
                                            <li>Trustworthy, safe and resilient intelligent systems</li>
                                            <li>Trusted, privacy-conscious and secure systems, applications and
                                                networks/infrastructures</li>
                                            <li>Security and privacy in IoT and Cyber-physical-human systems</li>
                                            <li>Trustworthy and secure Human-Machine collaboration</li>
                                            <li>Access and trust management/negotiation, and secure information
                                                flow/sharing</li>
                                            <li>Bio-inspired approaches to trust, privacy and security</li>
                                            <li>Game theoretical approaches to trust, privacy, and security</li>
                                            <li>Adversarial machine learning</li>
                                            <li>Trust, privacy and security for big data systems, applications and
                                                platforms</li>
                                            <li>Trust, privacy and security for smart cities and urban computing</li>
                                            <li>Machine Learning / Deep learning over encrypted data</li>
                                            <li>Usability and human factors for trust, privacy and security</li>
                                            <li>Tools, techniques and metrics for trust, privacy and security</li>
                                            <li>Anonymization techniques and differential privacy for emerging
                                                intelligent applications</li>
                                            <li>Trust, privacy and security approaches for services computing:
                                                microservices, service-oriented architectures, service composition and
                                                orchestration</li>
                                            <li>Blockchain and Distributed-ledger technologies</li>
                                            <li>Blockchain/Distributed ledger for e-commerce, mobile commerce and
                                                intelligent applications</li>
                                            <li>Bias, fairness and integrity/robustness of algorithmic machine / AI
                                                algorithms</li>
                                            <li>Trusted, privacy-aware and secure interoperation of
                                                interacting/collaborative systems</li>
                                            <li>Threat models and attack modeling for AI/ML and applications</li>
                                            <li>Identification/Detection of spam, phishing, malware and APTs</li>
                                            <li>Cryptographic approaches and secure multiparty computation</li>
                                            <li>Privacy-preserving data mining and big data analytics</li>
                                            <li>Application of AI/ML and Deep learning for trust, privacy and security
                                            </li>
                                            <li>Trust, privacy and security in edge/cloud computing, social computing
                                            </li>
                                            <li>Safe and trusted autonomous vehicles/UAVs, robotics</li>
                                            <li>Trust, security and safety in supply-chain environments and critical
                                                infrastructures</li>
                                            <li>Data quality/credence, privacy and provenance</li>
                                            <li>Trust in social media – disinformation/misinformation</li>
                                            <li>Risk metrics and measurements, assessment/analysis and mitigation</li>
                                            <li>Insider threat modeling, analysis and mitigation; behavioral modeling
                                                for security and trust</li>
                                            <li>Digital payments and cryptocurrencies; Secure and trustworthy e-commerce
                                                and mobile commerce</li>
                                            <li>Trust negotiation and/or propagation in interacting systems of systems,
                                                multi-agentsystems, social networks.</li>
                                        </ul>
                                    </blockquote>
                                    <hr>

                                    <h2 class="margin-bottom-5"><strong>Blue Sky/Vision Track</strong></h2>
                                    <p class="text-justify">
                                        We would like to solicit papers that promote <strong>visionary ideas</strong>
                                        and <strong>blue sky thinking</strong> in areas aligned with the conference
                                        themes.
                                        These papers are expected to spark intense discussions and newer research
                                        directions/insights through potentially disruptive, controversial,
                                        or highly cross-disciplinary ideas that look forward to Trust, Privacy and
                                        Security areas for the next 10 years and beyond.
                                        Ideas that are just being conceived, not fully developed, far from
                                        experimentally evaluated, or out-of-the box are highly encouraged.
                                        The papers should follow the same format as the regular conference papers and
                                        can be up to 10 pages.
                                    </p>
                                    <hr>
                                    <h2 class="margin-bottom-5"><strong>Industry Track Papers</strong></h2>
                                    <p class="text-justify">
                                        We would like to solicit papers that focus on design, implementation and
                                        deployment of solutions related to Trust, Privacy and Security within the
                                        industrial or government environments. The papers submitted to this track are
                                        expected to advance practical and applied research focused on the use
                                        of TPS technologies, and real-world networks, systems applications.
                                    </p>
                                    <p class="text-justify">
                                        The Industry/Government Track will include papers selected through a separate
                                        program committee.
                                        Authors must clearly indicate sub-areas their papers are to be evaluated in
                                        because distinct criteria may be used for reviewing
                                        different category of submissions:
                                    </p>
                                    <ul>
                                        <li>
                                            <strong>Deployed</strong>
                                            <p class="text-justify">
                                                Deployed systems that aim to provide real practical value to industry,
                                                Government, or other organizations, or communities.
                                                The papers should point out how the deployed system explicitly address
                                                TPS issues or describe either qualitatively
                                                (lessons learnt, deployment experiences, etc.) or quantitatively how
                                                Trust, Privacy and Security issues are addressed in smart,
                                                intelligence systems and applications.
                                            </p>
                                        </li>
                                        <li>
                                            <strong>Emerging</strong>
                                            <p class="text-justify">
                                                Newer models and mechanisms or innovative solutions related to Trust,
                                                Privacy and Security in networks, systems and applications
                                                are expected here. The authors should clearly demonstrate value and
                                                interest to Industry, Government of society
                                                (e.g., scientific or medical professions; critical infrastructures).
                                                Papers that describe infrastructure development and deployment
                                                that enables the large-scale deployment of trusted, safe, secure and
                                                privacy-aware technologies/applications or their validation
                                                are also in these areas.
                                            </p>
                                        </li>
                                    </ul>
                                    <hr>
                                    <h2 class="margin-bottom-5"><strong>Awards</strong></h2>
                                    <p class="text-justify">
                                        IEEE TPS will feature a <strong>Best Paper</strong> award and a <strong>Best
                                            Student Paper</strong> award
                                        (to be selected by the program committee/best paper award team). A paper is
                                        eligible for the <strong>Best Student Paper</strong>
                                        award if the first author is a full-time student at the time of submission. A
                                        partial travel grant or cash award may be
                                        offered to the winner student depending on fund availability.
                                    </p>
                                    <hr>

                                    <h3><strong>Program Co-Chairs</strong></h3>
                                    <ul>
                                        <li>Peter Kairouz, Google Inc., USA</li>
                                        <li>Dan Lin, Vanderbilt University, USA</li>
                                        <li>Attila Altay Yavuz, University of South Florida, USA</li>
                                    </ul>
                                    <div style="height: 30px; clear: both;"></div>
                                </div>
                            </div>
                            <!-- right panel begins -->
                            <div>
                                {% include sidebar1.html %}
                            </div>
                        </div>
                    </div>
                </div>

        <!-- end  -->
    </div>
    <!--=== Footer ===-->
    {% include footer.html %}
    <!--=== End Footer ===-->

    <!--=== Scripts ===-->
    {% include scripts.html %}
    <!--=== End scripts ===-->

</body>

</html>