---
title: "blank"
<!-- permalink: pretty -->
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    <title>IEEE TPS 2025</title>
    {% include head.html %}
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->




        <div class="bg-color-light">
            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
            </div>
            <div class="breadcrumbs">
                <div class="container">
                    <h1 class="pull-left">Technical Program Committee</h1>
                    <ul class="pull-right breadcrumb">
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <!-- <li><a href="">BLANK</a></li> -->
                        <li class="active">Program Committee</li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <!-- Contents goes here -->
                <div class="row">
                    <div class="col-md-9"><!-- outter container  -->
                        <div class="news-v3-in">
                            <div class="row">
                                <!-- <div class="col-md-3">
                                    <ul class="no-padding margin-left-10 organizers-type-list hidden-xs"
                                        id="sidebar-nav">
                                        

                                        <li class=""><a href="#CogMIGovernment/IndustryTrack">CogMI Government/Industry
                                                Track</a></li>
                                        <li class=""><a href="#CogMIVision">CogMI-Vision</a></li>
                                        <li class=""><a href="#IEEECogMI2024Round1">IEEE CogMI 2024 Round 1</a></li>
                                        <li class=""><a href="#IEEECogMI2024Round2">IEEE CogMI 2024 Round 2</a></li>


                                    </ul>
                                </div> -->
                                <div class="col-md-12">
                                    <div id="organizers">

                                        <h4 id="TPS2025ProgramCommittee">2025 IEEE TPS Technical Program Committee</h4>

                                        <h5>PC Co-Chairs</h5>
                                        <ul>
                                            <li><i>Dan Lin, Vanderbilt University</i></li>
                                            <li><i>Attila A. Yavuz, University of South Florida</i></li>
                                            <!-- <li><i>Danda B. Rawat, Howard University</i></li> -->
                                            <li><i>Peter Kairouz, Google</i></li>
                                        </ul>

                                        <h5>PC Members</h5>
                                        <ul>
                                            <li><i>Sharif Abuadbba, CSIRO’s Data61, Australia</i></li>
                                            <li><i>John Abascal, Northeastern University, USA</i></li>
                                            <li><i>Bo Chen, Michigan Technological University, USA</i></li>
                                            <li><i>Wei-Ning Chen, Microsoft</i></li>
                                            <li><i>Albert Cheu, Google</i></li>
                                            <li><i>Rachel Cummings, Columbia University, USA</i></li>
                                            <li><i>Andy Dong, Stanford University, USA</i></li>
                                            <li><i>Edlira Dushku, Aalborg University, Denmark</i></li>
                                            <li><i>Lavanya Elluri, Texas A&M University -- Central Texas, USA</i></li>
                                            <li><i>Liyue Fan, UNC Charlotte, USA</i></li>
                                            <li><i>M. Emre Gursoy, Department of Industrial Engineering, Koç University,
                                                    Istanbul, Turkey</i></li>
                                            <li><i>Hongxin Hu, University at Buffalo, SUNY, USA</i></li>
                                            <li><i>Latifur Khan, The University of Texas at Dallas, USA</i></li>
                                            <li><i>Hyoungshick Kim, Sungkyunkwan University, South Korea</i></li>
                                            <li><i>Ram Krishnan, University of Texas at San Antonio, USA</i></li>
                                            <li><i>Prashant Krishnamurthy, University of Pittsburgh, USA</i></li>
                                            <li><i>Kaitai Liang, Delft University of Technology, Netherlands</i></li>
                                            <li><i>Chao Li, Beijing Jiaotong University, China</i></li>
                                            <li><i>Stephen Lee, University of Pittsburgh, USA</i></li>
                                            <li><i>Pooria Madani, Ontario Tech University, Canada</i></li>
                                            <li><i>Amir Masoumzadeh, University at Albany -- SUNY, USA</i></li>
                                            <li><i>Ryan Mckenna, Google</i></li>
                                            <li><i>Barry Mishra, UCR, USA</i></li>
                                            <li><i>Tamalika Mukherjee, Columbia University, USA</i></li>
                                            <li><i>Amit A. Nanavati, Ahmedabad University, India</i></li>
                                            <li><i>Balaji Palanisamy, University of Pittsburgh, USA</i></li>
                                            <li><i>Dzung Pham, University of Massachusetts, Amherst, USA</i></li>
                                            <li><i>Edo Roth, Google</i></li>
                                            <li><i>Bikash Chandra Singh, Old Dominion University, USA</i></li>
                                            <li><i>Shamik Sural, Indian Institute of Technology Kharagpur, India</i>
                                            </li>
                                            <li><i>Daniel Takabi, School of Cybersecurity, Old Dominion University,
                                                    USA</i></li>
                                            <li><i>Mayank Varia, Boston University, USA</i></li>
                                            <li><i>Guangjing Wang, University of South Florida, USA</i></li>
                                            <li><i>Danfeng Yao, Virginia Tech, USA</i></li>
                                            <li><i>Chuan Yue, Colorado School of Mines, USA</i></li>
                                            <li><i>Yang Xiang, Swinburne University of Technology, Australia</i></li>
                                            <li><i>Zhi Zhang, The University of Western Australia, Australia</i></li>

                                        </ul>

                                        <div style="height: 30px; clear: both;"></div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end inner container  -->
                    <!-- Sidebar -->
                    <div>
                        {% include sidebar.html %}
                    </div>
                </div>
            </div>
            <!--=== End Content ===-->


            <!--=== Footer ===-->
            {% include footer.html %}
            <!--=== End Footer ===-->
        </div>

        <!--=== Scripts ===-->
        {% include scripts.html %}
        <!--=== End scripts ===-->
    </div>
</body>

</html>