---
title: "Panels"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>IEEE CIC 2025</title>
    {% include head.html %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css?v={{ site.css_version }}">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->


        <div class="bg-color-light">

            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
            </div>
            <div class="breadcrumbs">
                <div class="container">
                    <h1 class="pull-left">Panels</h1>
                    <ul class="pull-right breadcrumb">
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li><a href="">Program</a></li>
                        <li class="active">Panels</li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <!-- Contents goes here -->
                    <div class="col-md-8"><!-- outter container  -->
                        <h3><strong>IEEE TPS Panel: Towards Building Trustworthy and Responsible Agentic AI (Day 1, Nov. 12, 2025)</strong></h3>
                        <div>
                            <p>
                                Agentic AI has emerged as the next significant phase in the rapidly evolving field of AI, offering tremendous
                                opportunities to solve real-world problems and address societal challenges through the use of autonomous agents that can
                                augment and/or replace human efforts. Agentic AI shows potential to streamline and solve large-scale system and
                                application challenges, support organizational missions, automate manufacturing and supply chain, and augment autonomous
                                vehicles, among others. At the same time, as with the development of AI in general, agentic AI poses increasing issues
                                of security, privacy, and trust, along with ethical and governance challenges.
                            </p>
                            <p>
                                This panel will discuss the challenges and R&D opportunities that need to be carefully addressed to establish a
                                trustworthy and responsible Agentic AI ecosystem, which is critical for uplifting our society. Some of the key questions
                                for discussion include:
                            </p>
                            <ul>
                                <li>What are the key security, privacy, and trust challenges that need to be addressed towards establishing a trustworthy and responsible AI ecosystem?
                                    How can we establish ethical oversight and governance for agentic AI?</li>
                                <li>How can trustworthy agentic AI be leveraged to address various socio-technological challenges
                                    (e.g., challenges in NextG, Cybersecurity and privacy, manufacturing and supply chain, healthcare, transportation, etc.)?</li>
                                <li>How can Agentic AI exacerbate harm to our society, and at the same time, how can they be leveraged to increase the safety of our society?</li>
                                <li>How do we foresee advances in trustworthy agentic AI evolving as Cyberspace evolves (e.g., digital economy, digital assets, quantum systems, etc.)?</li>
                            </ul>
                        </div>
                        <hr>
                        <!-- Panel Moderator -->
                        <div class="news-v3-in"><h3 class="margin-bottom-5" style="margin-bottom: 0"><strong>Panel Moderator</strong></h3></div>
                        <hr>
                        <!-- James Joshi -->
                        <div class="news-v3-in">
                            <h5>
                                <strong>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span>James Joshi</span>
                                    <br>
                                    <em>
                                        <span class="glyphicon glyphicon-home"></span>
                                        <span>Professor</span>
                                        <span>University of Pittsburgh, USA</span>
                                        <br>
                                        <span class="glyphicon glyphicon-link"></span>
                                        <a href="https://www.sis.pitt.edu/jjoshi/" target="_blank">Home Page</a>
                                        <br>
                                    </em>
                                </strong>
                            </h5>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="../../../common/resources/images/joshi2.png" class="img-responsive"
                                        alt="James Joshi">
                                </div>

                                <div class="col-md-9">
                                    <p class="text-left">
                                        <strong>Bio: </strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <!-- Panelists -->
                        <div class="news-v3-in"><h3 class="margin-bottom-5" style="margin-bottom: 0"><strong>Panelists</strong></h3></div>
                        <hr>
                        <!-- Elisa Bertino -->
                        <div class="news-v3-in">
                            <h5>
                                <strong>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span>Elisa Bertino</span>
                                    <br>
                                    <em>
                                        <span class="glyphicon glyphicon-home"></span>
                                        <span>Professor</span>
                                        <span>Purdue University, USA</span>
                                        <br>
                                        <span class="glyphicon glyphicon-link"></span>
                                        <a href="https://www.cs.purdue.edu/homes/bertino/" target="_blank">Home Page</a>
                                        <br>
                                    </em>
                                </strong>
                            </h5>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="../../../common/resources/images/bertino-1.jpg" class="img-responsive"
                                        alt="Elisa Bertino">
                                </div>

                                <div class="col-md-9">
                                    <p class="text-left">
                                        <strong>Bio: </strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!-- Matthew Gaston -->
                        <div class="news-v3-in">
                            <h5>
                                <strong>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span>Matthew Gaston</span>
                                    <br>
                                    <em>
                                        <span class="glyphicon glyphicon-home"></span>
                                        <span>Director, AI Division, Carnegie Mellon University Software Engineering Institute, USA<br>
                                        Founding Director, Emerging Technology Center, Carnegie Mellon University Software Engineering Institute, USA</span>
                                        <br>
                                        <span class="glyphicon glyphicon-link"></span>
                                        <a href="https://www.sei.cmu.edu/leadership/matthew-gaston/" target="_blank">Home Page</a>
                                        <br>
                                    </em>
                                </strong>
                            </h5>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="../../../common/resources/images/matthew-gaston.png" class="img-responsive"
                                        alt="Matthew Gaston">
                                </div>

                                <div class="col-md-9">
                                    <p class="text-left">
                                        <strong>Bio: </strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!-- Ling Liu -->
                        <div class="news-v3-in">
                            <h5>
                                <strong>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span>Ling Liu</span>
                                    <br>
                                    <em>
                                        <span class="glyphicon glyphicon-home"></span>
                                        <span>Professor</span>
                                        <span>Georgia Institute of Technology, USA</span>
                                        <br>
                                        <span class="glyphicon glyphicon-link"></span>
                                        <a href="https://www.cc.gatech.edu/people/ling-liu" target="_blank">Home Page</a>
                                        <br>
                                    </em>
                                </strong>
                            </h5>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="../../../common/resources/images/lingliu.jpeg" class="img-responsive"
                                        alt="Ling Liu">
                                </div>

                                <div class="col-md-9">
                                    <p class="text-left">
                                        <strong>Bio: </strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <!-- Heiko Ludwig -->
                        <div class="news-v3-in">
                            <h5>
                                <strong>
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span>Heiko Ludwig</span>
                                    <br>
                                    <em>
                                        <span class="glyphicon glyphicon-home"></span>
                                        <span>
                                            Principal Research Staff Member, IBM Research, USA<br>
                                            Senior Manager of Granite Data Platforms, IBM Research, USA
                                        </span>
                                        <br>
                                        <span class="glyphicon glyphicon-link"></span>
                                        <a href="https://research.ibm.com/people/heiko-ludwig" target="_blank">Home Page</a>
                                        <br>
                                    </em>
                                </strong>
                            </h5>
                            <div class="row">
                                <div class="col-md-3">
                                    <img src="../../../common/resources/images/heiko-ludwig.png" class="img-responsive"
                                        alt="Heiko Ludwig">
                                </div>

                                <div class="col-md-9">
                                    <p class="text-left">
                                        <strong>Bio: </strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr>

                        <h3><strong>IEEE CogMI Panel: From LLMs and Agentic AI to Artificial General Intelligence (AGI) to Artificial
                                Superintelligence (ASI) – the Paths, The Prospects, and the Pitfalls (Day 2, Nov. 13, 2025)</strong></h3>
                        <div>
                            <p>
                                The global race for AI dominance is here -- fueled by billions of dollars pumped into AI innovations by big tech
                                companies and at the national level. This is fast outpacing the individual, organizational, and societal ability to
                                absorb technologies for more controlled use to augment their capabilities, as well as the ability of governments and
                                society to create appropriate oversight and governance. The academia that often conducts research unconstrained by
                                business bottom lines and driven by curiosity and public impact is being left behind with ever-declining resources and
                                capabilities to contribute to this AI race. Many AI experts have already opined about the potential dire consequences of
                                the fast-paced development of AGI, leading to ASI. Geoffrey Hinton warns that there is a “10-20% chance that AI wipes
                                out humans.” At least, as he further indicates, AI will make a “few people much richer and most people much poorer.”
                            </p>
                            <p>
                                This panel will discuss the paths, the prospects, and the pitfalls the our accelerated advances in AI towards ASI.
                            </p>
                        </div>
                        <hr>
                        <!-- Panel Moderator -->
                        <div class="news-v3-in"><h3 class="margin-bottom-5" style="margin-bottom: 0"><strong>Panel Moderator</strong></h3></div>
                        <hr>
                        <!-- Panelists -->
                        <div class="news-v3-in"><h3 class="margin-bottom-5" style="margin-bottom: 0"><strong>Panelists</strong></h3></div>
                        <hr>

                        <h3><strong>IEEE CIC Panel: Device, Data and Collaboration – the Emerging Challenges in Internet of “Intelligent” Things (Day 3, Nov. 14, 2025)</strong></h3>
                        <div>
                            <p>
                                The exponential growth of devices and increasing hyperconnectivity is creating explosive growth in data and potential
                                for data-driven collaborations. Spurred by recent AI advances, similar growth in the Internet of “intelligent” Things
                                has the potential to create socially-intelligent, collaborative ecosystems of systems and applications. Various domains
                                such as manufacturing, supply chain, healthcare ecosystems, autonomous vehicular systems, and digital twin of complex
                                systems can benefit significantly from ubiquitous and interconnected devices, data systems, and smart applications.
                            </p>
                            <p>
                                This panel will discuss the current and emerging landscape of Internet-enabled, AI-powered and data-driven collaborative
                                ecosystems, as well as the growing challenges and opportunities that it brings.
                            </p>
                        </div>
                        <hr>
                        <!-- Panel Moderator -->
                        <div class="news-v3-in"><h3 class="margin-bottom-5" style="margin-bottom: 0"><strong>Panel Moderator</strong></h3></div>
                        <hr>
                        <!-- Panelists -->
                        <div class="news-v3-in"><h3 class="margin-bottom-5" style="margin-bottom: 0"><strong>Panelists</strong></h3></div>
                        <hr>
                    </div>

                    <!-- right panel begins -->
                    <div>
                        {% include sidebar1.html %}
                    </div>
                </div>
            </div>
            <!-- end  -->
        </div>
        <!--=== Footer ===-->
        {% include footer.html %}
        <!--=== End Footer ===-->

        <!--=== Scripts ===-->
        {% include scripts.html %}
        <!--=== End scripts ===-->
    </div>
</body>

</html>