---
title: "blank"
<!-- permalink: pretty -->
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    <title>IEEE RISC 2026</title>
    {% include head.html %}
    <style>
        #organizers .person-card img {
            width: 170px;
            height: 200px;
            object-fit: cover;
            border-radius: 4px;
        }
    </style>
</head>

<body class="header-fixed">
    {% include banner.html %}
    <div class="wrapper" style="min-height: 800px">

        <div class="bg-color-light">

            <div class="breadcrumbs">
                <div class="container">
                    <h1 class="pull-left">Organizing Committees</h1>
                    <ul class="pull-right breadcrumb">
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li class="active">Organizers</li>
                    </ul>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <!-- Contents goes here -->
                    <div class="col-md-8"><!-- outter container  -->
                        <div class="news-v3-in">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="organizers">                                        
                                        <h4 id="General">IEEE RISC 2026 General Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://www.engineering.pitt.edu/people/faculty/mai-abdelhakim/">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/mai.jpeg">Mai Abdelhakim</a>
                                                    <span class="affiliation">University of Pittsburgh, USA</span>
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://www.research.pitt.edu/people/robert-k-cunningham">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/cunningham.png">Robert K. Cunningham</a>
                                                    <span class="affiliation">University of Pittsburgh, USA</span>
                                                </div>
                                            </li>
                                        </ul>
                                        
                                        <h4 id="PC">IEEE RISC 2026 Program Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://www.engineering.pitt.edu/people/faculty/mai-abdelhakim/">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/mai.jpeg">Mai Abdelhakim</a>
                                                    <span class="affiliation">University of Pittsburgh, USA</span>
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://www.research.pitt.edu/people/robert-k-cunningham">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/cunningham.png">Robert K. Cunningham</a>
                                                    <span class="affiliation">University of Pittsburgh, USA</span>
                                                </div>
                                            </li>
                                        </ul>
                                        
                                        <hr>

                                        <h4 id="Exec">IEEE CIC/TPS/CogMI/RISC 2026 Executive Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://www.rawat.info/">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/danda.png">Danda Rawat</a>
                                                    <span class="affiliation">Howard University, USA</span>
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://sse.umkc.edu/profiles/shyu-mei-ling.html">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/mei-lin.jpg">Mei-Ling Shyu</a>
                                                    <span class="affiliation">University of Missouri-Kansas City, U.S.A.</span>
                                                </div>
                                            </li>
                                        </ul>

                                        <h4 id="Bluesky">IEEE CIC/TPS/CogMI/RISC 2026 Bluesky/Vision Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://sites.rutgers.edu/jsvaidya/">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/jaideep.png">Jaideep Vaidya</a>
                                                    <span class="affiliation">Rutgers University, USA</span>
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://dawsec.dicom.uninsubria.it/barbara.carminati/">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/barbara.jpeg">Barbara Carminati</a>
                                                    <span class="affiliation">University of Insubria, Italy</span>
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://lweb.umkc.edu/chen/">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/Shu-Ching.jpg">Shu-Ching Chen</a>
                                                    <span class="affiliation">University of Missouri-Kansas City, USA</span>
                                                </div>
                                            </li>
                                        </ul>

                                        <h4 id="Industry">IEEE CIC/TPS/CogMI/RISC 2026 Industry/Government Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://www.linkedin.com/in/tanvir-ahmed-umn/">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/tanvir.jpg">Tanvir Ahmed</a>
                                                    <span class="affiliation">Oracle Corporation, USA</span>
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://www.utech.edu.jm/academics/colleges-faculties/fenc/faculty-staff/jarrett-julian">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/julian.jpeg">Julian Jarrett</a>
                                                    <span class="affiliation">Lutron Electronics, USA</span>
                                                </div>
                                            </li>
                                        </ul>

                                        <h4 id="Workshop">IEEE CIC/TPS/CogMI/RISC 2026 Workshop and Publication Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://runhua.me">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/runhua.jpeg">Runhua Xu</a>
                                                    <span class="affiliation">Beihang University, China</span>
                                                </div>
                                            </li>
                                        </ul>

                                        <h4 id="Finance">IEEE CIC/TPS/CogMI/RISC 2026 Finance Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://www.utech.edu.jm/academics/colleges-faculties/fenc/faculty-staff/jarrett-julian">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/julian.jpeg">Julian Jarrett</a>
                                                    <span class="affiliation">Lutron Electronics, USA</span>
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://www.engineering.pitt.edu/people/faculty/mai-abdelhakim/">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/mai.jpeg">Mai Abdelhakim</a>
                                                    <span class="affiliation">University of Pittsburgh, USA</span>
                                                </div>
                                            </li>
                                        </ul>

                                        <h4 id="Local">IEEE CIC/TPS/CogMI/RISC 2026 Local Arrangement and Sponsorship Chair</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://webpages.scu.edu/ftp/hlu/">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/haibing.jpg">Haibing Lu</a>
                                                    <span class="affiliation">Santa Clara University, USA</span>
                                                </div>
                                            </li>
                                        </ul>

                                        <h4 id="Publicity">IEEE CIC/TPS/CogMI/RISC 2026 Publicity and Travel Grants Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://yanzhaowu.me/">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/yanzhao.jpg">Yanzhao Wu</a>
                                                    <span class="affiliation">Florida International University, USA.</span>
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://www.uidaho.edu/people/brimal">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/bhaskar.png">Bhaskar Rimal</a>
                                                    <span class="affiliation">University of Idaho, USA.</span>
                                                </div>
                                            </li>
                                        </ul>

                                        <h4 id="Web">IEEE CIC/TPS/CogMI/RISC 2026 Web Co-Chairs</h4>
                                        <ul>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://sites.pitt.edu/~peh53/">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/peilin.png">Peilin He</a>
                                                    <span class="affiliation">University of Pittsburgh, USA.</span>
                                                </div>
                                            </li>
                                            <li class="person-card">
                                                <div>
                                                    <a target="_blank" href="https://lioutang.github.io/">
                                                        <img src="{{ site.baseurl }}/assets/img/organizers/liou.jpg">Liou Tang</a>
                                                    <span class="affiliation">University of Pittsburgh, USA.</span>
                                                </div>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- right panel begins -->
                    <div>
                        {% include sidebar.html %}
                    </div>
                </div>

                <!-- end  -->
            </div>


            <!--=== Footer ===-->
            {% include footer.html %}
            <!--=== End Footer ===-->
        </div>

        <!--=== Scripts ===-->
        {% include scripts.html %}
        <!--=== End scripts ===-->
    </div>
</body>

</html>