---
title: "blank"
<!-- permalink: pretty -->
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    <title>IEEE RISC 2026</title>
    {% include head.html %}
</head>

<body class="header-fixed">
    {% include banner.html %}
    <div class="wrapper" style="min-height: 800px">

        <div class="bg-color-light">

            <div class="breadcrumbs">
                <div class="container">
                    <h1 class="pull-left">Steering Commmittees</h1>
                    <ul class="pull-right breadcrumb">
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li class="active">Sterring</li>
                    </ul>
                </div>
            </div>


            <div class="container">
                <div class="row">
                    <!-- Contents goes here -->
                    <div class="col-md-8"><!-- outter container  -->
                        <div class="news-v3-in">
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="organizers">

                                        <h4 id="General">Chair</h4>
                                        <ul>
                                            <li><i>James Joshi, University of Pittsburgh, USA</i></li>
                                        </ul>

                                        <h4 id="General">Members</h4>
                                        <ul>
                                            <li><i>Arun Iyengar, Cisco, USA</i></li>
                                            <li><i>Calton Pu, Georgia Institute of Technology, USA</i></li>
                                            <li><i>Dimitrios Gerogakopolous, Swinsburne University of Technology, Australia</i></li>
                                            <li><i>Elisa Bertino, Purdue University, USA</i></li>
                                            <li><i>Karl Aberer, EPFL, Switzerland</i></li>
                                            <li><i>Ling Liu, Georgia Institute of Technology, USA</i></li>
                                            <li><i>M. Brian Blake, President of Georgia State University, USA</i></li>
                                            <li><i>Tao Zhang, NIST, USA</i></li>
                                            <li><i>Weisong Shi, University of Delaware, USA</i></li>
                                            <li><i>Zhaohui Wu, Zhejiang University, China</i></li>
                                            <li><i>Elena Ferrari, University of Insubria, Italy</i></li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- right panel begins -->
                    <div>
                        {% include sidebar.html %}
                    </div>
                </div>

                <!-- end  -->
            </div>

            <!--=== Footer ===-->
            {% include footer.html %}
            <!--=== End Footer ===-->
        </div>

        <!--=== Scripts ===-->
        {% include scripts.html %}
        <!--=== End scripts ===-->

</body>

</html>