---
title: "IEEE RISC 2026"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>IEEE RISC 2026</title>
    {% include head1.html %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- v ieee cookie banner v -->
    <script src=" https://cmp.osano.com/AzyzptTmRlqVd2LRf/530d6a63-68a0-4f3a-9a73-e768af4c1ca4/osano.js"></script>
    <link rel="stylesheet" href=" https://cookie-consent.ieee.org/ieee-cookie-banner.css" type="text/css" />
    <!-- ^ ieee cookie banner ^ -->
</head>

<body class="header-fixed">

    <div class="wrapper">
        <!--=== Header===-->
        <div class="header-v2 header-sticky">
            <div class="container container-space"></div>
            <!-- Navbar -->
            {% include navbar1.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->

        <!-- Image Gradient -->

        <script type="text/javascript">
            //Get Banner image by random
            // var n = Math.floor(Math.random() * 6 + 1);
            document.write('<div class="interactive-slider-v2" style="background-image:url(\'assets/img/main-banners/risc_1.jpg\')">');
        </script>
        <div class="container">

            <h1 class="animated fadeInUp">IEEE RISC 2026</h1>

            <p class="animated fadeInRight" id="sub_title">The 1<sup>st</sup> IEEE Conference on
                Resilience and Integrated Security for<br>Space and Critical Systems
            </p>
            <p class="animated fadeInLeft">Nov. 4-6, 2026, San Jose, CA, USA</p>
            <p class="animated fadeInLeft">
                Co-located with
                <a style="color: rgb(219, 190, 26);" href="https://www.sis.pitt.edu/lersais/conference/cic/2026/" target="_blank">IEEE CIC 2026</a>,
                <a style="color: rgb(219, 190, 26);" href="https://www.sis.pitt.edu/lersais/conference/tps/2026/" target="_blank">IEEE TPS 2026</a>,
                <a style="color: rgb(219, 190, 26);" href="https://www.sis.pitt.edu/lersais/conference/cogmi/2026/" target="_blank">IEEE CogMI 2026</a>
            </p>
        </div>
    </div>
    <!-- End Image Gradient -->

    <div class="purchase bg-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-8 animated fadeInUp">
                    <!--Latest News-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="headline">
                                <h2><strong>Latest News</strong></h2>
                            </div>
                            <ul class="timeline-v2">
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>Mar. 28, 2026</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Call for Paper is now available here: <a href="{{ site.baseurl1 }}/call-for-papers/">Here</a>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>Mar 17, 2026</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>The website for IEEE CIC/TPS/CogMI/RISC 2026 Co-located conference is live!
                                            To find past conference information, please visit Past Conference tab.
                                        </p>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!--intro-->
                    <div class="save_the_date margin-bottom-50" id="save_the_date">
                        <span>About IEEE RISC</span>
                        <p>
                            The IEEE Conference on Resilience and Integrated Security for Space & Critical Systems (RISC) is the first IEEE
                            conference dedicated to the security and resilience of space systems and the critical infrastructure that impacts or is
                            impacted by space applications. RISC brings together researchers, engineers, and policymakers working at the frontier of
                            space systems security and critical infrastructure resilience. RISC grew out of the IEEE Workshop on Security and
                            Resiliency of Critical Infrastructure and Space Technologies (SR-CIST), building on a community that recognizes space
                            systems not as passive infrastructure, but as active drivers of systems we depend on. From satellite constellations,
                            ground control security, to space medicine, autonomous systems, and cross-domain threat propagation, RISC fosters a
                            research community dedicated to addressing the new security and resilience challenges in space and space-dependent
                            applications. RISC is co-located with IEEE TPS, CIC, and CogMI and will be held November 4-6, 2026 in San Jose, CA. (For
                            more Information, move to <a href="{{ site.baseurl1 }}/call-for-papers">CFP</a>)
                        </p>
                    </div>


                    <!--Useful quick links-->
                    <div class="userful_quick_links margin-top-20" id="userful_quick_links">
                        <h3 class="heading-md"><strong>Useful quick links</strong></h3>
                        <ul class="list-unstyled who margin-bottom-30">
                            <li><i class="fa fa-link"></i> EasyChair submission:
                                <a href="https://easychair.org/conferences/?conf=ieeerisc2026" target="_blank"
                                    class="tooltips" data-toggle="tooltip"
                                    data-original-title="Jump to this page">Here</a>
                            </li>
                        </ul>
                    </div>

                    <!--Important Dates & Notifications-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="headline">
                                <h2>Important Dates</h2>
                            </div>
                            <ul class="timeline-v2">
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>Mar. 28, 2026</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>Call for Paper is now available here: <a href="{{ site.baseurl1 }}/call-for-papers/">Here</a>
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <time class="cbp_tmtime" datetime=""><span>Mar. 17, 2026</span></time>
                                    <i class="cbp_tmicon rounded-x hidden-xs"></i>
                                    <div class="cbp_tmlabel">
                                        <p>More timeline details will be updated soon.</p>
                                    </div>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <!--Important Dates & Notifications END-->

                    <hr>
                    <!-- Statement -->
                    <div class="save_the_date margin-bottom-50" id="save_the_date">
                        <span>IEEE Computer Society Open Conference Statement</span>
                        <p>
                            Equity, Diversity, and Inclusion are central to the goals of the IEEE Computer
                            Society
                            and
                            all of its conferences. Equity at its heart is about removing barriers, biases,
                            and
                            obstacles that impede equal access and opportunity to succeed. Diversity is
                            fundamentally
                            about valuing human differences and recognizing diverse talents. Inclusion is
                            the active
                            engagement of Diversity and Equity.
                        </p>
                        <br>
                        <p>
                            A goal of the IEEE Computer Society is to foster an environment in which all
                            individuals
                            are
                            entitled to participate in any IEEE Computer Society activity free of
                            discrimination.
                            For
                            this reason, the IEEE Computer Society is firmly committed to team compositions
                            in all
                            sponsored activities, including but not limited to, technical committees,
                            steering
                            committees, conference organizations, standards committees, and ad hoc
                            committees that
                            display Equity, Diversity, and Inclusion.
                        </p>
                        <br>
                        <p>
                            IEEE Computer Society meetings, conferences and workshops must provide a
                            welcoming, open
                            and
                            safe environment, that embraces the value of every person, regardless of race,
                            color,
                            sex,
                            sexual orientation, gender identity or expression, age, marital status,
                            religion,
                            national
                            origin, ancestry, or disability. All individuals are entitled to participate in
                            any IEEE
                            Computer Society activity free of discrimination, including harassment based on
                            any of
                            the
                            above factors.
                        </p>
                    </div>
                    <!-- code of conduct -->
                    <div class="save_the_date margin-bottom-50" id="save_the_date">
                        <span>IEEE Event Conduct and Safety Statement</span>
                        <p>IEEE believes that science, technology, and engineering are fundamental human activities, for
                            which openness, international collaboration, and the free flow of talent and ideas are
                            essential. Its meetings, conferences, and other events seek to enable engaging, thought
                            provoking conversations that support IEEE’s core mission of advancing technology for
                            humanity. Accordingly, IEEE is committed to providing a safe, productive, and welcoming
                            environment to all participants, including staff and vendors, at IEEE-related events.
                        </p>
                        <br>
                        <p>
                            IEEE has no tolerance for discrimination, harassment, or bullying in any form at
                            IEEE-related events. All participants have the right to pursue shared interests
                            without
                            harassment or discrimination in an environment that supports diversity and
                            inclusion.
                            Participants are expected to adhere to these principles and respect the rights
                            of
                            others.
                        </p>
                        <br>
                        <p>
                            IEEE seeks to provide a secure environment at its events. Participants should
                            report any
                            behavior inconsistent with the principles outlined here, to on site staff,
                            security or
                            venue
                            personnel, or to
                            <a href="mailto:eventconduct@ieee.org">eventconduct@ieee.org</a>
                        </p>
                    </div>

                </div>





                <!-- ==========right side begin======= -->
                <div class="col-md-4">
                    <!-- ===== social media icons START -->
                    <div class="tile">
                        <a class="btn-u btn-u-dark-blue btn-u-xs"
                            href="https://www.facebook.com/groups/516188955209479/" alt="risc2026 facebook profile"
                            target="_blank" style="margin-left: 0%;"><i class="fa fa-facebook"></i>
                            Follow us on Facebook.</a>
                    </div>
                    <!-- ===== social media icons END -->
                    <hr>

                    <!-- sponsors  -->
                    <div class="links">
                        <h4>Financial Sponsors</h4>
                        <ul>
                            <li>
                                <img class="img-responsive" src="assets/img/logos/ieee.gif"
                                    style="width: 100%; margin-top: 10%;">
                            </li>
                            <hr>
                            <li>
                                <img class="img-responsive" src="assets/img/logos/ieee_cs.png"
                                    style="width: 100%; margin-top: 10%;">
                            </li>
                            <br>
                        </ul>
                        <!-- <hr>
                        <h4> Gold Corporate Sponsors</h4>
                        <ul>
                            <li>
                                <a href="https://www.tdk.com/" target="_blank">
                                    <img class="img-responsive" src="assets/img/logos/TDK.png"
                                    style="width: 100%; margin-top: 10%;">
                                </a>
                            </li>
                            <hr>
                            <li>
                                <a href="https://www.pqi.org/" target="_blank">
                                    <img class="img-responsive" src="assets/img/logos/pgi.png"
                                    style="width: 100%; margin-top: 10%;">
                                </a>
                            </li>
                            <hr>
                            <li>
                                <a href="https://www.sci.pitt.edu/" target="_blank">
                                    <img class="img-responsive" src="assets/img/logos/pitt_sci_logo.png"
                                        style="width: 100%; margin-top: 10%;">
                                </a>
                            </li>
                        </ul> -->
                    </div>
                    <!-- sponsor ends -->

                    <div class="links">

                        <h4>Co-located Workshops</h4>
                        <ul>
                            <li>
                                To be announced.
                            </li>
                            <!-- <li>
                                <a href="https://www.engineering.pitt.edu/ieee-srcist2025" target="_blank">
                                    &#128206; IEEE Workshop on Security and Resiliency of Critical Infrastructure and
                                    Space Technologies (IEEE SR-CIST 2025)
                                </a>
                            </li>

                            <li>
                                <a href="https://sites.google.com/pitt.edu/tphac/home" target="_blank">
                                    &#128206; IEEE Workshop on Trustworthy and Privacy-Preserving Human-AI Collaboration
                                    (IEEE TPHAC 2025)
                                </a>
                            </li>
                            <li>
                                <a href="https://digitaldiversityla.wixsite.com/eicworkshop2025" target="_blank">
                                    &#128206; Equitable & Inclusive Computing Workshop 2025 (EIC WORKSHOP 2025)
                                </a>
                            </li>
                            <li>
                                <a href="https://ieeedistill.github.io/" target="_blank">
                                    &#128206; IEEE Workshop on Distributed, Secure, and Trustworthy Intelligence with LLMs (IEEE DISTILL 2025)
                                </a>
                            </li>
                            <li>
                                <a href="https://sites.google.com/view/quills2025/home" target="_blank">
                                    &#128206; The Second IEEE Workshop on Quantum Intelligence, Learning and Security (QuILLS 2025)
                                </a>
                            </li>
                            <li>
                                <a href="https://airet-workshop.github.io/" target="_blank">
                                    &#128206; The First International Workshop on Agentic Intelligence: Risks, Ethics, and Trust. (AIRET 2025)
                                </a>
                            </li>
                            <li>
                                <a href="https://sis.pitt.edu/lersais/conference/workshops/SPiRiT/" target="_blank">
                                    &#128206; The 1<sup>st</sup> IEEE Workshop on Healthcare and Medical Device
                                    Security, Privacy, Resilience, and Trust. (IEEE HMD-SPiRiT 2025)
                                </a>
                            </li> -->
                        </ul>
                        <br>
                    </div>

                    <div class="links">
                        <h4>Co-located Conferences</h4>
                        <ul>
                            <li>
                                <a href="http://www.sis.pitt.edu/lersais/conference/cic/2026/" target="_blank">

                                    &#128206; The 12<sup>th</sup> IEEE International Conference on Collaboration and
                                    Internet Computing (IEEE CIC 2026)

                                </a>
                            </li>
                            <li>
                                <a href="http://www.sis.pitt.edu/lersais/conference/tps/2026/" target="_blank">

                                    &#128206; The 8<sup>th</sup> IEEE International Conference on Trust, Privacy and
                                    Security in Intelligent Systems, and Applications (IEEE TPS 2026)
                                </a>
                            </li>
                            <li>
                                <a href="http://www.sis.pitt.edu/lersais/conference/cogmi/2026/" target="_blank">

                                    &#128206; The 8<sup>th</sup> IEEE International Conference on Cognitive Machine
                                    Intelligence (IEEE CogMI 2026)
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <!--=== End Content ===-->


    <!--=== Footer ===-->
    {% include footer1.html %}
    <!--=== End Footer ===-->



    <!--=== Scripts ===-->
    {% include scripts1.html %}
    <!--=== End scripts ===-->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const headers = document.querySelectorAll('.keynoteHeader');

            // Initially hide all keynoteContent elements (they start hidden via CSS)
            const contents = document.querySelectorAll('.keynoteContent');

            // ===========================================
            // AUTO-EXPAND CONFIGURATION FOR DEFAULT VIEW
            // ===========================================
            // 默认展开的年份配置 - Default expanded years configuration
            // 每年更新时，请在这里添加新年份的ID
            // When updating yearly, please add the new year's ID here
            const defaultExpandedSections = [
                '2025', // Current year keynotes - 当前年份keynote
                '2025panel',
                '2024'  // 2024 keynotes ONLY - 仅2024年keynote部分
            ];

            // Auto-expand the configured sections - 自动展开配置的部分
            defaultExpandedSections.forEach(sectionId => {
                const content = document.getElementById('content' + sectionId);
                const header = document.getElementById(sectionId);
                
                if (content && header) {
                    content.classList.add('show');
                    header.classList.add('open');
                }
            });

            // ===========================================
            // CLICK HANDLER FOR EXPAND/COLLAPSE TOGGLE
            // ===========================================
            // 点击事件处理器 - Click event handler
            headers.forEach(header => {
                header.addEventListener('click', function (e) {
                    e.preventDefault();
                    const id = this.id;
                    const content = document.getElementById('content' + id);

                    if (!content) return;

                    // Toggle the clicked content - 切换点击内容的显示状态
                    if (content.classList.contains('show')) {
                        // Hide the content - 隐藏内容
                        content.classList.remove('show');
                        this.classList.remove('open');
                    } else {
                        // Show the content - 显示内容
                        content.classList.add('show');
                        this.classList.add('open');
                    }
                });
            });
        });
    </script>

</body>

</html>