---
title: "Accepted Papers"
---

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <title>IEEE CIC 2025</title>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/header-v3.css?v={{ site.css_version }}">
</head>

<body class="header-fixed">
    <div class="wrapper" style="min-height: 800px">
        <!--=== Header===-->
        <div class="header-v3">
            <div class="container"></div>
            <!-- Navbar -->
            {% include navbar.html %}
            <!-- End Navbar -->
        </div>
        <!--=== End Header ===-->


        <div class="bg-color-light">

            <div class="news-v3 margin-bottom-30">
                {% include banner.html %}
            </div>
            <div class="breadcrumbs">
                <div class="container">
                    <h1 class="pull-left">Accepted Papers</h1>
                    <ul class="pull-right breadcrumb">
                        <li><a href="{{ site.baseurl }}/">Home</a></li>
                        <li><a href="">Program</a></li>
                        <li class="active">Accepted Papers</li>
                    </ul>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <!-- Contents goes here -->
                    <div class="col-md-8"><!-- outter container  -->
                        <div class="news-v3-in">

                            <h2 class="margin-bottom-5" style="margin-bottom: 0">
                                <strong>IEEE CIC 2025 Accepted Papers</strong>
                            </h2>

                            <p class="text-justify">
                                We are pleased to announce the accepted papers for IEEE CIC 2025. The conference
                                received numerous high-quality submissions across various tracks. All
                                accepted papers will be published in the IEEE Proceedings and oral presented
                                at the conference.
                            </p>

                            <hr>

                            <div class="accepted-papers-lists">
                                <div class="panel-group panel-group-elegant" id="accordion-papers" role="tablist" aria-multiselectable="true">

                                    <!-- CIC Research Session Panel -->
                                    <div class="panel panel-elegant">
                                        <div class="panel-heading panel-heading-elegant" role="tab" id="heading-research">
                                            <h4 class="panel-title panel-title-elegant">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-papers" href="#collapse-research" aria-expanded="false" aria-controls="collapse-research">
                                                    CIC Research Session
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse-research" class="panel-collapse panel-collapse-elegant collapse" role="tabpanel" aria-labelledby="heading-research">
                                            <div class="panel-body panel-body-elegant">

                                                <h4 class="accepted-papers-title">QLPMR: Q-Learning-Based Path Dynamics-Driven Multipath Flow Routing in Software-Defined Vehicular Networking</h4>
                                                <h5 class="accepted-papers-authors">Patikiri Arachchige Don Shehan Nilmantha Wijesekara, Kushan Sudheera Kalupahana Liyanage, Harsha S. Gardiyawasam Pussewalage, Geeth Priyankara Wijesiri, and Peter Han Joo Chong</h5>

                                                <h4 class="accepted-papers-title">An Interpretable and Efficient Random Undersampling-Enhanced SHAP Framework for Medicare Fraud Detection</h4>
                                                <h5 class="accepted-papers-authors">Qianxin Liang, Richard A. Bauder, and Taghi M. Khoshgoftaar</h5>

                                                <h4 class="accepted-papers-title">Maximizing Information in Domain-Invariant Representation Improves Transfer Learning</h4>
                                                <h5 class="accepted-papers-authors">Adrian Shuai Li, Elisa Bertino, Xuan-Hong Dang, Ankush Singla, Yuhai Tu, and Mark N. Wegman</h5>

                                                <h4 class="accepted-papers-title">A Digital Twin-Based Approach with a System-Agnostic Integration Method to Enable Intelligence Capabilities and What-If Scenario Orchestration</h4>
                                                <h5 class="accepted-papers-authors">Abdelhadi Belfadel, Stephen Creff, Jean-Patrick Brunet, Sin-Seok Seo, Guillaume Doquet, Kevin Mantissa, Christophe Duhil, Yann Bouju, Fikri Hafid, and Amira Ben Hamida</h5>

                                                <h4 class="accepted-papers-title">Towards Collaboration-Aware Resource Sharing in Research Computing Infrastructures</h4>
                                                <h5 class="accepted-papers-authors">Souradip Nath, Ananta Soneji, Jaejong Baek, Carlos Rubio-Medrano, and Gail-Joon Ahn</h5>

                                                <h4 class="accepted-papers-title">Shielding Against Deception: Fortifying Deepfake Detectors Against Data Poisoning Attacks</h4>
                                                <h5 class="accepted-papers-authors">Ian Miller, Chaoquan Cai, Maya Cutkosky, Liyue Fan, and Dan Lin</h5>

                                                <h4 class="accepted-papers-title">Access Control Policies Specification and Analysis for Multi-Institutional Collaborative Projects</h4>
                                                <h5 class="accepted-papers-authors">Abhimanyu Chawla, Mahmoud Abdelgawad, and Indrakshi Ray</h5>

                                                <h4 class="accepted-papers-title">ShadowScan: LLM-Based Device Fingerprinting in IoT Networks</h4>
                                                <h5 class="accepted-papers-authors">Duwarahavidyan Jeganathan, Tharuka Harshajith Bandara, Harsha S. Gardiyawasam Pussewalage, Thilina Deshan Dissanayake, Dinithi Sachinthana Fernando, Kushan Sudheera Kalupahana Liyanage, and Thilini Dahanayaka</h5>

                                                <h4 class="accepted-papers-title">Strategic Incentivization for Locally Differentially Private Federated Learning</h4>
                                                <h5 class="accepted-papers-authors">Yashwant Krishna Pagoti, Arunesh Sinha, and Shamik Sural</h5>

                                                <h4 class="accepted-papers-title">Blockchain Based Spectrum Leasing for 5G and Beyond</h4>
                                                <h5 class="accepted-papers-authors">Dilshara Niromali, Sampavi Sivakumaran, Harsha S. Gardiyawasam Pussewalage, Sachith Piumantha, Geeth P. Wijesiri, and Indika A. M. Balapuwaduge</h5>

                                                <h4 class="accepted-papers-title">RideCred: A Decentralized and Incentive-Driven Ride-Sharing System with Trustless Coordination</h4>
                                                <h5 class="accepted-papers-authors">Shailesh Kumar Sharma, Balaji Palanisamy, Shamik Sural, and Sandip Chakraborty</h5>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- CIC Application Session Panel -->
                                    <div class="panel panel-elegant">
                                        <div class="panel-heading panel-heading-elegant" role="tab" id="heading-application" style="background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);">
                                            <h4 class="panel-title panel-title-elegant">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-papers" href="#collapse-application" aria-expanded="false" aria-controls="collapse-application">
                                                    CIC Application Session
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse-application" class="panel-collapse panel-collapse-elegant collapse" role="tabpanel" aria-labelledby="heading-application">
                                            <div class="panel-body panel-body-elegant">

                                                <h4 class="accepted-papers-title">Novel Applications of Blockchain-Based Timed Data Release</h4>
                                                <h5 class="accepted-papers-authors">Jingzhe Wang and Balaji Palanisamy</h5>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- Invited Session Panel -->
                                    <div class="panel panel-elegant">
                                        <div class="panel-heading panel-heading-elegant" role="tab" id="heading-invited" style="background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);">
                                            <h4 class="panel-title panel-title-elegant">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-papers" href="#collapse-invited" aria-expanded="false" aria-controls="collapse-invited">
                                                    Invited Session
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse-invited" class="panel-collapse panel-collapse-elegant collapse" role="tabpanel" aria-labelledby="heading-invited">
                                            <div class="panel-body panel-body-elegant">

                                                <h4 class="accepted-papers-title">Rethinking Big Data Scale: Balancing Accuracy, Collaboration, and Storage</h4>
                                                <h5 class="accepted-papers-authors">Panos K. Chrysanthis and Constantinos Costa</h5>

                                                <h4 class="accepted-papers-title">Collaborative Research on Nonprofits: Broadening Knowledge with New Data Management</h4>
                                                <h5 class="accepted-papers-authors">Calton Pu and Lewis Faulk</h5>

                                                <h4 class="accepted-papers-title">The Impact of Generative AI in Renewable Energy Applications</h4>
                                                <h5 class="accepted-papers-authors">Jialie Shen, Haiyan Miao, and Fengshou Gu</h5>

                                                <h4 class="accepted-papers-title">A Comparison of Rank-Ordering and Classification for Occupational Injury Absence Duration</h4>
                                                <h5 class="accepted-papers-authors">Chelsea M. Zuvieta, Gonzalo A. Vivian, and Taghi M. Khoshgoftaar</h5>

                                                <h4 class="accepted-papers-title">Enhancing the Robustness of AI-Generated Voice Detectors Against Data Poisoning Attacks</h4>
                                                <h5 class="accepted-papers-authors">Ian Miller, Ke Li, and Dan Lin</h5>

                                            </div>
                                        </div>
                                    </div>

                                    <!-- EIC Workshop 2025 Panel -->
                                    <div class="panel panel-elegant">
                                        <div class="panel-heading panel-heading-elegant" role="tab" id="heading-workshop" style="background: linear-gradient(135deg, #fa709a 0%, #fee140 100%);">
                                            <h4 class="panel-title panel-title-elegant">
                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion-papers" href="#collapse-workshop" aria-expanded="false" aria-controls="collapse-workshop">
                                                    The Equitable &amp; Inclusive Computing Workshop 2025 (EIC Workshop 2025)
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse-workshop" class="panel-collapse panel-collapse-elegant collapse" role="tabpanel" aria-labelledby="heading-workshop">
                                            <div class="panel-body panel-body-elegant">

                                                <h4 class="accepted-papers-title">Global Conflict Prediction via Novel Temporal-Spatial Graph Neural Networks</h4>
                                                <h5 class="accepted-papers-authors">Wenbo Du and Latifur Khan</h5>

                                                <h4 class="accepted-papers-title">Towards a Hybrid Human-Machine Framework for Gunshot Identification and Police Notification in Jamaica</h4>
                                                <h5 class="accepted-papers-authors">Chavaree Campbell, Julian Jarrett, and Kimberley Hemmings-Jarrett</h5>

                                                <h4 class="accepted-papers-title">AI Use by Higher Education Students Leading to Self-Efficacy in Their Classroom Verbal and Written Communication Skills</h4>
                                                <h5 class="accepted-papers-authors">Jonathan Alavez Reyes</h5>

                                                <h4 class="accepted-papers-title">Beyond Standard English: Jamaican Experiences with Voice-Enabled AI Technologies</h4>
                                                <h5 class="accepted-papers-authors">Howard Reid and Glenville Mcleod</h5>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div style="height: 30px; clear: both;"></div>
                        </div>
                    </div>
                    <!-- right panel begins -->
                    <div>
                        {% include sidebar1.html %}
                    </div>
                </div>
            </div>
        </div>

        <!--=== End Content ===-->


        <!--=== Footer ===-->
        {% include footer.html %}
        <!--=== End Footer ===-->

        <!--=== Scripts ===-->
        {% include scripts.html %}
        <!--=== End scripts ===-->
    </div>
</body>

</html>